[2016-10-24 20:53] galexv commented on #189
I am closing this for now. If any metadata (such as authors or affiliations) needs to be modified, feel free to reopen.

[2016-10-24 20:53] #189 closed

[2016-11-01 16:29] galexv commented on #252
Submitted pull request to macports, let's see if it works for them now.

[2016-11-17 01:21] shinaoka opened #258 "Possible MPI deadlock"
Hi, let me discuss a possible MPI deadlock during the collection of measured results over processes.
My concern is about the implementation of alps::detail::mcmpiadapter_base::collect_results(names) const.
(around line 67 of mc/include/alps/mc/mpiadapter.hpp)

If a certain observable has not been measured for only some of MPI processes
, collective_merge will not be called from all MPI processes.

[2016-11-17 02:00] galexv commented on #258
Thanks for catching this --- and for the code testing for this!
I agree --- the most straightforward approach is to throw exception in this case (i think, it must be at
https://github.com/ALPSCore/ALPSCore/blob/master/mc/include/alps/mc/mpiadapter.hpp#L76) ?

Do you have a fix ready? (If not, i can take care of this once i am back from SC16, on Friday).

[2016-11-17 02:05] shinaoka commented on #258
Not yet. But, I will take care of this issue.

My idea is to collect "this->measurements[*it].count()" just below L69.
In the case of (iii), we throw exception immediately.
We proceed in the case of (i).
How about (ii)?
Should we throw exception, or just skip collective_merge?
I'd prefer the latter one.

[2016-11-25 01:29] shinaoka commented on #258
I prepared a fix, and am writing a test for this.
I have a question about the testing framework of ALPSCore.
How can we run the tests with multi processors?
I tried "mpirun -np 2 make test" on my Mac,
but there seems to be another deadlock in the test mpi_utils_env.

[2016-11-26 02:50] galexv commented on #258
Thanks for preparing the fix!
Making an MPI-aware test with GTest is a little of a multi-step process. For example, see an MPI test at
https://github.com/ALPSCore/ALPSCore/blob/master/accumulators/test/mpi_merge.cpp:

1. It has an explicit `main()` (https://github.com/ALPSCore/ALPSCore/blob/master/mc/test/sum_mpi.cpp#L137)
2. In `main()`, after initializing MPI environment, it  creates a local obj

[2016-11-28 14:14] shinaoka commented on #258
Thank you! I'll give it a try once I finish some other job. I'll keep you posted.

[2016-11-29 16:26] galexv commented on #258
Fixed by pull request #259 (with minor changes by commit cc7fc3256ca).
Thanks @shinaoka !

[2016-11-29 16:26] #258 closed

[2016-11-29 16:30] galexv opened #260 "Don't throw, just have count=0 on unmeasured observables"
Follow up on issue #258.
It would be nice if instead of throwing, the code simply considers the observables not measured on some ranks as "measured 0 times" when collecting the results.

[2016-11-29 16:37] galexv opened #261 "Spurious (?) "uninitialized variable" warning in `alps/mc/mpiadapter.hpp`"
GCC 4.8.4 complains (presumably incorrectly) about a possibly uninitialized variable in  [`alps/mc/mpiadapter.hpp`](https://github.com/ALPSCore/ALPSCore/blob/cc7fc3256ca1d1ca6c27ddbd32fa276fcdcd7509/mc/include/alps/mc/mpiadapter.hpp#L70).

(First noticed after fixing issue #258).

[2016-11-29 16:39] #252 closed

[2016-11-29 18:37] galexv commented on #261
The issue (and many similar warnings) is related to not-quite-correct use of visitors for `boost::variant`, and the fix should be straightforward.

[2016-11-29 22:09] shinaoka commented on #260
It makes sense.
The collective_merge stuff is implemented below the include/alps/accumulators/feature?

[2016-11-29 22:23] mwallerb commented on #260
Quick question: is that such a smart idea? Isn't zero measurements on a subset of cores an indication that something is going severely south?

My reasoning for this goes as follows: say, we do a simple QMC simulation.  Computational complexity is pretty much perfectly correlated with expansion order.  If we impose a fixed time constraint, then the number of measurements *N* will be inversely corre

[2016-11-29 22:34] shinaoka commented on #260
Markus, you're right.

For instance, in my worm code, if the simulation time is too short, we fail to visit all subspaces of the enraged configuration space.
This could happen very rarely, but the user should be warned explicitly.

[2016-11-29 23:17] jgreitemann commented on #260
One typical scenario where I usually run into this being a problem is when checkpointing a simulation that is still in its thermalization stage. I tend to write checkpoints to disk rather often, so this does happen.

I find it useful to save the simulation periodically, so if it suffers a rare crash I can debug it while only having to rerun the bit since the last checkpoint with the debugger attac

[2016-11-30 16:37] #261 closed

[2016-11-30 20:26] galexv opened #262 "Compilation of user code picks the wrong `alps/config.hpp` for CMake 3.7"
This is closely related to (closed) issue #255 .

When CMake 3.7 (and possibly an older CMake) is used, the user code may pick up the wrong `alps/config.hpp` --- for example, the one residing in the same directory as Boost, not the one found by `find_package(ALPSCore)`. The error is not observed with CMake 2.8.12.

The immediate reason for the problem is that CMake 3.7 considers ALPSCore include d

[2016-12-07 20:18] galexv commented on #262
The problem is that CMake considers interface include directories of imported targets to always be "system" directories (which seems to be contrary to documentation), so it looks to me like a bug in CMake. This behavior is observed since at least CMake 3.2.0, so if it is indeed a bug, no one else is bothered by it, so it is unlikely to be fixed. :(

We have to look into workarounds.

[2016-12-07 20:30] egull commented on #262
Rather than engineering a workaround, I would add a recommendation to the documentation stating that people should not install their ALPSCore in their system /boost path if they plan on having more than one ALPSCore.

[2016-12-19 12:12] jgreitemann opened #263 "Attributes of HDF5 root group cannot be accessed"
Associating attributes with the root element of a HDF5 file does currently not work:

    alps::hdf5::archive ar(filename, "w");
    ar["/@key"] << value;

throws the following exception:
[code]

Doing the same for a subgroup works as expected. To my knowledge, the root group should also be able to hold attributes. At least using `h5py` it's possible.

[2016-12-23 22:16] galexv opened #264 "Unable to set attributes on datasets"
Superset of issue #263.

Setting `ar[/path/to/data@some_attr]` fails, reporting non-existing path `/path/to/dat` (note the "swallowed" last symbol). Looks like off-by-one error somewhere!

Corroborated by the fact that:
[code]
all work, setting attributes on `/path/to/data`, `/path/to` and `/` respectively.

[2016-12-23 22:18] galexv commented on #263
It is a subset of issue #264. Working on it...

[2016-12-25 18:41] aeantipov opened #265 "Merry Christmas!"
Merry Christmas, alpscore devs and users! All the best next year!

[2016-12-30 16:19] galexv commented on #263
Fixed by commit c7c64ca.

[2016-12-30 16:19] #263 closed

[2016-12-30 16:19] galexv commented on #264
Fixed by commit c7c64ca.

[2016-12-30 16:19] #264 closed

[2017-01-03 16:04] galexv commented on #265
(belated :) ) Merry Christmas and Happy New Year!

[2017-01-03 20:46] #265 closed

[2017-01-04 14:49] galexv opened #267 "MeshTest.MpiBcastRealFrequency test failing"
See [the regression in Jenkins](https://alpscore.ci.cloudbees.com/job/alpscore_fedora17_boost-1.55.0_hdf5-1.8.13_openmpi-1.8.1/357/testReport/junit/(root)/MeshTest/MpiBcastRealFrequency/).

[2017-01-04 15:20] galexv commented on #267
Sergey (@iskakoff), i need your help. :)

* Here: https://github.com/ALPSCore/ALPSCore/blob/master/gf/include/alps/gf/grid.hpp#L55
would it be better to have `tmin` is the first parameter and `tmax` as the second?

* Here: https://github.com/ALPSCore/ALPSCore/blob/master/gf/test/mesh_test_mpi.cpp#L33
the reference mesh and the mesh that is broadcast are on different grids (linear vs. logarithmic):

[2017-01-05 16:37] galexv commented on #267
Fixed --- thanks, Sergey.

[2017-01-05 16:37] #267 closed

[2017-01-10 23:39] galexv commented on #145
An issue to consider is whether the parameter source (the command line or the INI file) is a part of the parameters object state, for the purposes of serialization and broadcast. Cf. issue #248.

[2017-01-17 15:20] galexv opened #270 "Recording an empty vector measurement leads to crash at MPI reduce"
If an empty vector measurement is added to an observable, call to `collect_results()` aborts due to zero-length buffer length in `MPI_Reduce`.

Proposed solution: prohibit 0-length vectors as observables.

[2017-01-17 15:23] galexv opened #271 "Throw an exception, rather than abort, on erroneous MPI operations"
If an MPI operation is erroneous, it would be more helpful to throw an exception at this point. This behavior should be configurable (e.g. via an argument to `alps::mpi::environment`?) so that users who call MPI directly would not be affected.

Would have helped to pinpoint issue #270 faster. :)

[2017-01-17 19:02] galexv opened #273 "Cannot print a GF defined on a multi-dimensional mesh"
The following code snippet does not compile:
[code]

[2017-01-17 23:05] galexv commented on #273
The problem occurs if the first mesh of a GF (even 1-argument one!) is potentially multidimensional (for example, `alps::gf::momentum_index_mesh`).

[2017-01-18 14:49] galexv opened #274 "Doxygen doc has title "Installation" but empty content."
...it can be filled, e.g., from Wiki or/and from the paper. Or at least give a reference to arXiv (and put it into the Wiki, too).

[2017-01-18 14:54] galexv opened #275 "Tutorial on GFs is desperately needed."
...or at least a bit more doxygen comments in the source code.

[2017-01-19 20:17] galexv opened #276 "Inefficient implementation of `alps::mpi::reduce()` via `MPI_Reduce`+`MPI_Broadcast`"
We need a proper implementation. Also, there is a suspected bug in the existing implementation.

[2017-01-19 20:42] galexv commented on #276
It seems that `all_reduce` is used in:
 * (re?)partitioning of FullBinningAccumulator bins, which is called during `collective_merge()`
 * schedule checker (`mpi_adapter.hpp`)
 * results collection (`mpi_adapter.hpp`)
 * collective merge of LogBinningAccumulator
 in all these cases, it looks like it operates on scalar data, and can be replaced by a proper `MPI_Allreduce`

[2017-01-20 14:45] #273 closed

[2017-01-20 14:47] #270 closed

[2017-01-26 18:41] galexv opened #277 "Default constructors for GFs"
Markus (@mwallerb) needs GFs to be default-constructible (e.g., to initialize them in an object constructor's body and catch any exceptions that might be thrown).

[2017-01-27 19:12] galexv opened #278 "Indexing GFs is cumbersome"
Sergey (@iskakoff) notes that currently accessing a Green's Function is too cumbersome:

[code]

Can there be a way to access a given element of a GF more easily, without jeopardizing type safety?
(Making constructors from integers to indexes implicit would allow integer indexing,  but would beat the purpose). Possibly, allowing "unsafe" indexing via `my_gf.unsafe_get(0,0,0)`? Maybe some "trusted"

[2017-01-27 19:19] galexv opened #279 "Is it possible to load GF from HDF5 without constructing grids first?"
Related to issue #277. As reported by Sergey (@iskakoff), there seems to be no (documented) way to read a GF from a file without constructing meshes first.

If such a way does exists, then it must be documented and tested (see issue #275).

[2017-01-28 20:51] #276 closed

[2017-01-28 20:56] egull commented on #241
I'd say this is a problem with FindMPI, not with us. We should tell a user to use the wrapper compiler and use static linking. Manually specifying the libraries is a bad idea, and FindMPI simply fails. I will update the documentation accordingly.

[2017-01-28 21:01] egull commented on #241
updated. Cray users are now explicitly instructed to use static builds.

[2017-01-28 21:01] #241 closed

[2017-01-28 21:03] egull commented on #213
Let's defer this until we have a user who wants to use a specific library.

[2017-01-28 21:34] egull opened #280 "version bump to 1.0"
Now that the paper is out, please release version 1.0 and update the license file in this code and the codes using this library.

[2017-01-30 09:43] shinaoka opened #281 "Using Legendre basis in gf"
Is someone already working on the implementation of Legendre basis for gf?

[2017-01-30 13:06] egull commented on #281
@iskakoff are you either using it or thinking of doing something?

[2017-01-31 20:57] #248 closed

[2017-02-01 00:57] shinaoka commented on #281
If no one has a concrete plan, I will implement this functionality myself for ALPSCore! Besides, I am also interested in implementing a container based on an expansion of G(tau) in terms of a "numerical" orthonormal basis set on the imaginary-time axis.

[2017-02-01 00:58] egull commented on #281
sounds good to me. Please go ahead – and keep us in the loop, so we can use your developments!

[2017-02-01 01:00] shinaoka commented on #281
OK. I will keep you updated. Actually, a private version of our CT-HYB code replies on a numerical basis set rather than the Legendre basis.

[2017-02-02 14:01] galexv opened #283 "Restore clang (and Mac) test builds"
...either on cloudbees or on AWS.
(Cf. issue #249)

[2017-02-02 16:16] iskakoff opened #284 "mcbase refactoring"
Currently we have a structure that is pushing people to create a huge
simulation class (like we have in CTAUX) that do almost everything,
it responsible for measurements, updates and so on.

Would it be better to introduce some functionality which will in addition to call `update()` and `measure()` make able to
delegate updates and measurement to separate classes like here:

    class mcbase {

[2017-02-03 16:42] galexv opened #285 "Improve `params::get_origin_name()` when no param file is supplied"
If there is no sensible alternative (such as `param.ini` file or HDF5 file), `alps::params::get_origin_name()` returns full path to the executable, which is not particularly useful (see https://github.com/CQMP/Maxent/issues/20#issuecomment-275869758) and leads to [unnecessary complicated code](https://github.com/CQMP/Maxent/commit/96af2dc08e1d3cbb8b4c27998d31d1386fef8bb2#diff-9fd8b7f000664f082203f

[2017-02-03 16:44] aeantipov commented on #284
A version of this with delegating updates and measures is implemented here : https://github.com/ALPSCore/ALPSCore-extensions/blob/master/mc/include/alps/mc/mc_metropolis.hpp

[2017-02-03 16:48] aeantipov commented on #283
I started using travis-ci lately. Seems very easy to configure (add 1 file to repo) and provides multiple builds with different environments including clang.
Here's a configuration that compiles alpscore (strip the unnecessary lines for other code):
https://github.com/aeantipov/fk_mc/blob/master/.travis.yml

[2017-02-03 16:51] aeantipov commented on #279
I guess a code from here (https://github.com/aeantipov/gftools/blob/master/gftools/hdf5.hpp) can be adapted for that purpose : see load_grid_object() call. It does not require constructing the grids explicitly by a user, they are are constructed later by the method.

[2017-02-03 16:57] galexv commented on #283
Aha. And it apparently supports Mac builds now: https://docs.travis-ci.com/user/osx-ci-environment
We should start using it.

[2017-02-03 17:52] iskakoff commented on #279
@aeantipov it based on c++11 variadic templates

[2017-02-03 17:54] aeantipov commented on #279
I think it can be ported to ALPSCore gf. It basically reads the grids, construct a GF out of them and then reads the data.

[2017-02-06 16:03] #274 closed

[2017-02-09 10:21] jgreitemann opened #286 "HDF5 datasets larger than 4 GB"
When attempting to write a `boost::multi_array<2,double>` with dimension 32768 x 16384 to an `alps::hdf5::archive`, the following exception is thrown:

[code]

The `what` message in frame 10, _chunk size must be < 4GB_, seems to be consistent with my `multi_array` holding 4.3 GB of data. I assume this limitation is intrinsic to HDF5. I'm not familiar with the low-level details of HDF5. Does the AL

[2017-02-09 13:14] egull commented on #286
Alex, Let's look at this at 10:30. We will run into this in other codes soon.

[2017-02-09 20:08] galexv commented on #286
The problem is located, fix is pending writing the proper read-write unit tests (will be ready shortly).

[2017-02-10 14:54] jgreitemann commented on #286
Thank you for the prompt fix. Works like a charm.

[2017-02-10 14:54] #286 closed

[2017-02-13 23:56] krivenko opened #287 "HDF5: Saving/loading of enums"
HDF5 interface does not support saving/loading of `enum` objects.
[code]
[code]

It's not a big deal to convert an enumeration value to `int` before saving. However, things can become much more complicated for nested types similar to `std::vector<my_enum>'.

[2017-02-15 03:32] galexv commented on #280
Release is published.

[2017-02-15 03:32] #280 closed

[2017-02-15 03:33] #145 closed

[2017-02-15 23:09] shinaoka opened #288 "Bug in gf::logarithmic_real_frequency_grid"
There seems to be at bug at the following line.
https://github.com/ALPSCore/ALPSCore/blob/master/gf/include/alps/gf/grid.hpp#L72-73

When i == nfreq_/2-1, we write a scalar on points[nfreq_ / 2 + i + 1], which may result in a heap buffer overflow.
I am not sure what is the correct and intended behavior.

[2017-02-16 13:04] galexv commented on #288
Thanks, Sergey! (@iskakoff)

[2017-02-16 16:59] galexv opened #290 "Some test fail with HDF5 1.10?"
At least on Mac, a couple of tests (specifically, saving `long double` to HDF5; saving custom type to HDF5) fail with HDF5 1.10 (but not with HDF5 1.8).

[2017-02-16 18:21] jgreitemann commented on #290
If it's any help, I can confirm that the following tests segfault when linking against HDF5-1.10.0-patch1:

[code]

With the following stacktrace:
[code]

[2017-02-16 20:20] jgukelberger commented on #290
Note that HDF5 1.10 introduced a bug that is triggered by repeated opening and closing of a dataset when the dataset was created using the same file descriptor. This is easily triggered by alps tests because the alps hdf5 module frequently opens and closes datasets in order to check their properties. See https://lists.phys.ethz.ch/pipermail/comp-phys-alps-users/2016/003145.html

However the bug sh

[2017-02-16 20:25] jgukelberger commented on #290
Patch to HDF5 1.10.0:

[code]

[2017-02-17 12:58] galexv commented on #290
Thanks --- i will look at it.

[2017-02-17 16:51] galexv commented on #290
I have compiled HDF5 1.10.0-patch1 library (source deb from Ubuntu Zesty), which does not contain patches from @jgukelberger,  on my machine (Ubuntu Trusty 14.04) and built ALPSCore with it. I see the same 2 tests fail as on Mac, but I do not see the segfaults. Jonas ( @jgreitemann), could you please provide more details how to reproduce the crashes? (E.g., the version of Linux, the version of com

[2017-02-17 17:40] jgreitemann commented on #290
The system I tried this on is running Fedora 25. Compiler is GCC 6.3.1. Using the HDF5 1.8.17 from the Fedora repos, all the tests pass.

I got HDF5 1.10.0-patch1 straight from the HDF group's website and compiled it from source. Then, starting from a clean `build.tmp` dir, I did
[code]
which picks up the correct locations for HDF5 includes and libs:
[code]
After `make`ing, I ran the tests as
[cod

[2017-02-17 18:03] galexv commented on #290
@jgreitemann: Thank you for the step-by-step description, i will try to reproduce. The sequence seems reasonable, the only differences i see right away are a newer compiler (mine is 4.8.4) and Debian/Ubuntu patches (if any) on top of the original HDF5 source. Can it be something to do with changed ABI between gcc 4.8 and 6.x?

@jgukelberger: Applying the patch eliminated the test failures! (Thanks

[2017-02-18 23:48] jgreitemann commented on #290
I installed gcc 4.9.4 and recompiled hdf5 1.10.0-patch1 with it. I also had to install boost (1.56) and openmpi (2.0.2) from source using gcc 4.9.4 because I was getting linker errors from the system versions. Indeed, the problem is gone now. Only the two tests you mentioned initially still fail, as one would expect.

So I guess this is an entirely separate issue. You should be able to reproduce b

[2017-02-20 22:24] iskakoff opened #292 "Swaping of two matsubara meshes with different statistics leads to wrong data."

[2017-02-21 15:55] galexv commented on #292
Fixed by PR #293.

[2017-02-21 15:55] #292 closed

[2017-02-21 15:56] #288 closed

[2017-02-21 20:24] galexv commented on #290
@jgreitemann: I am still not able to reproduce the segmentation fault on Ubuntu. Installed gcc-6 from PPA, compiled boost and (patched) HDF5, compiled ALPSCore (with MPI support OFF). All tests pass.

I am thinking of trying it on Fedora 25, if i will be able get an access to a machine (real or virtual).

[2017-02-22 13:57] jgreitemann commented on #290
I'm certainly confused now. I tried to reproduce the problem myself on an Ubuntu system without any luck and then took to another Fedora 25 machine where I couldn't reproduce either. Thus, the issue is probably on my end. I'm slightly puzzled but will investigate further. In the meantime, I suggest you don't waste your time on it.

[2017-02-23 16:03] galexv opened #294 "Negation of GF"
Markus (@mwallerb) requests "unary minus" (negation) operation for a Green's Function.

[2017-02-23 16:05] galexv commented on #294
Can be implemented as scaling by -1.

[2017-02-23 17:15] galexv commented on #230
Case in point: suppose one inadvertently uses `error<double>()` for `MeanAccumulator()`.
The exception looks this way:
[code]

which is not very readable.

[2017-02-23 17:34] #294 closed

[2017-03-06 12:38] jgreitemann opened #295 "collective_merge duplicates measurements"
This is probably not a bug but a matter of design. Calling `accumulator_set::collective_merge(comm, 0)` will currently collect the measurements from all MPI processes into the master, but also leave them in the slave processes. Calling `collective_merge` _again_ would thus give wrong results as the slave measurements would be duplicated but the master measurements wouldn't. I'd consider this a des

[2017-03-06 15:05] galexv commented on #290
I think, for now we can [request](https://github.com/ALPSCore/ALPSCore/wiki/Installation#prerequisites) that users should use HDF5 1.8.x and wait till the bug is fixed in upstream HDF5.

[2017-03-07 04:01] galexv opened #296 "Custom command to run "make test" with MPI"
As noted by Hiroshi (@shinaoka), on some systems `mpiexec -np ...` is not the correct way to run MPI jobs. Some way to specify a user command must be provided (other than rerunning  `cmake` with `-DMPIEXEC=... -DMPIEXEC_NUMPROC_FLAG=...` etc.)

Cf. issue #211.

[2017-03-14 07:41] shinaoka commented on #281
It's done.

[2017-03-14 07:41] #281 closed

[2017-03-14 09:49] shinaoka commented on #279
I am writing toy python wrapper for alps::gf. Actually, the construction of GF objects is bit cumbersome. If GFs were default-constructible in C++ level, we would be able to construct a GF like this.
[code]

[2017-03-14 10:12] shinaoka commented on #279
What if we make Meshes and GFs default-constructible (in C++)? What (bad) side effects do you expect? It may be less fail safe because users may attempt to use an uninitialized object.

[2017-03-14 13:17] galexv commented on #279
I am moving the discussion regarding default-constructing to issue #277.

[2017-03-14 13:28] galexv commented on #277
@shinaoka said:

Honestly, I dislike "uninitialized" objects; either user risks to get, silently, a garbage (or, at best, SIGSEGV) attempting to access such an object, or we have to introduce checks at every access whether the object is in a valid state.

When it was first coded, there was no clear idea what could be an "empty" GF. :) Moreover, right now it is not possible to assign GFs with a dif

[2017-03-14 22:11] shinaoka commented on #277
Thank you ! Do you implement these features? Or, can I take this?

[2017-03-14 23:44] egull commented on #277
Can you take it, and Alex can do code review?

[2017-03-15 01:08] shinaoka commented on #277
OK. To avoid conflict, once the pull request on numerical mesh is merged into the master branch, I will make GFs default-constructible.

[2017-03-15 18:11] galexv opened #299 "Limit converibility of alps::params objects to supported types"
`alps::params` objects should support conversion only to supported types; for example:

[code]

[2017-03-16 15:49] egull commented on #283
yes, but it does not do testing for closed source programs, which is another thing we really need. I propose to not switch to travis and stay with jenkins on AWS.

[2017-03-19 21:44] shinaoka opened #301 "C++ standard compatibility"
Let us imagine the ALPSCore libraries are compiled with C++03 and but one tries to build an application or ALPSCore-extensions with C++11.
It will result in a disaster.
Is it possible to detect such failure when one runs "cmake" for the application?
Can we set some cmake variable or C++ macros to tell the C++ standard used to build the libraries to applications?

[2017-03-20 01:38] aeantipov commented on #301
Hiroshi, I am not sure it is a problem. C++11  is not officially supported and extensions are not a part of alpscore (not mature, need more dependencies). I would say it is a user problem.

There is an option to dump compiler flags and then check the same ones are used. Triqs does it. I don't like this too much. Optimization flags should not necessarily be carried between the lib and the code bein

[2017-03-20 01:49] egull commented on #301
How much of this will still be disastrous after we've removed the linking to the boost libraries? Is it the boost components that make this crash or something in ALPS? If it's just boost, we just have to wait for Alex to remove the last few libraries. If it's more general, we should at least put a warning. Same presumably goes for user codes that need C++-11. Hiroshi is not the first one to be tri

[2017-03-20 02:19] aeantipov commented on #301
I think its not tied to boost. Any two codes with c++03 and c++11 std::string won't link.
On Sunday, March 19, 2017 at 21:49 Emanuel Gull <notifications@github.com> wrote:

How much of this will still be disastrous after we've removed the linking to the boost libraries? Is it the boost components that make this crash or something in ALPS? If it's just boost, we just have to wait for Alex to remove

[2017-03-20 02:20] galexv commented on #301
There are a few issues there.

1. One is that GCC implements `std::string` (and other classes) [differently in different versions](https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html) of the C++ compiler. Fortunately, the improper mix will not link successfully. Unfortunately, one of the codes (the library or the client) will have to be recompiled with specific options.

2. Another

[2017-03-20 02:28] galexv commented on #301
What i mean is that ALPSCore knows what language standard was used to build it; at the moment of client executing `ALPSCoreConfig.cmake` (via `find_package("ALPSCore")), the compiler and the options that the client uses are also known. The language versions/standards can be compared, and the warning (or outright failure) can be issued.

[2017-03-20 02:43] egull commented on #301
Here is a solution: check this:
https://cmake.org/cmake/help/v3.1/prop_tgt/CXX_STANDARD_REQUIRED.html
and this:
https://cmake.org/cmake/help/v3.1/manual/cmake-compile-features.7.html#manual:cmake-compile-features(7)

I propose to enforce c++-98 in ALPSCore, with a flag to switch it to 11 or 14. And to check in the user codes that the standard is the same as the one ALPS has been compiled with. Tha

[2017-03-20 03:00] shinaoka commented on #301
Do we have to raise the requirement of cmake version from cmake 2.8.12 for CXX_STANDARD?

[2017-03-20 03:07] galexv commented on #301
Yes, we do, to CMake 3.1 (maybe even 3.1.3).

[2017-03-20 03:37] egull commented on #301
The switch from 3.0 to 3.1 was back in 2015. That's too recent to make it a requirement. Perhaps there is a way to make it optional or leave it undefined/unsafe if the functionality is not available, but I'm hesitant to force 3.1 on the users.

[2017-03-20 09:06] jgreitemann commented on #301
Why introduce ALPSCore-specific CMake options for that? Users on modern (3.1+) CMake releases will be able to switch the standard using the CMake option `-DCMAKE_CXX_STANDARD=98` or `11`. Possibly one could check if CMake supports that feature and make `98` the default. Older versions of CMake don't have a concept of C++ standard so there's no elegant (+portable) way to deal with it. One can alway

[2017-03-20 11:39] shinaoka commented on #301
I agree. I do not think we should force 3.1 on the users.
This would make the installation more difficult.

We can dump a flag ALPSCoreConfig.cmake only when they use cmake 3.1 or newer.
If a client application finds an incompatible flag, the user should be warned.

By the way, CMake 3.2.3 seems to be available at the K computer.
https://docs.google.com/spreadsheets/d/1ykttehDs9vn8XljJ6YE0bwsdjBMj

[2017-03-23 13:06] jgreitemann opened #302 "Support for std::complex numbers in accumulators"
Are there any plans to add support for complex numbers to accumulators? Right now, just adding them to the `ALPS_ACCUMULATORS_USER_TYPES` macro is not sufficient for a number of reasons:
* `error_type` is derived straight from `mean_type` while for complex numbers, `mean_type` should be complex but `error_type` should be real.
* Complex conjugation is missing in the appropriate places. Expressions

[2017-03-23 13:19] galexv commented on #302
Jonas, this subject does come up from time to time, and in my understanding , there are conceptual difficulties with defining an "error bar" in the complex plane: e.g., it's an ellipse rather than a circle (or an interval). I will let Emanuel (@egull) elaborate on this. :)

[2017-03-23 14:07] egull commented on #302
Hi Jonas and Alex,
yes, it's really not that easy to say what you mean by an 'error bar' for a complex number. It is easy if you assume that the real and imaginary parts are independent - but there's no reason why that would be a good assumption in general. If they are not, you're being mislead by the 'error bar' as you'd have to measure a covariance matrix.
The problem comes up every now and then

[2017-03-23 14:08] mwallerb commented on #302
This is a point of disagreement between Emanuel and me, the root of it is what I see as a conflation of the standard error of the mean with the confidence interval.

In this sense, the same "problem" is present in the real case as well, if the p.d.f. `p = f(x)` is anti-symmetric around the expectation value (think Poisson distribution for low mu, but also the Green's function measurement in tau si

[2017-03-23 15:44] mwallerb commented on #302
*Minutes of discussion with Emanuel:*
The problem with my definition is a pragmatic one: assume, e.g., that the real part of the estimator is zero by symmetry.  If people then plot the imaginary part with the standard error of the mean directly, they will find that the error bars are "too small" in the sense that not 2/3 of the values have overlap with the result.

So the best way forward would be

[2017-03-24 16:12] jgreitemann commented on #302
You are right of course; I sought to generalize to the complex case a little too haphazardly. In the case of isotropic noise, the real variance <|z - < z >|^2> in fact equals the sum of the variances of real and imaginary part, even in the case where those are strong correlated (correlation terms cancel).

By virtue of the central limit theorem, the mean of multi-dimensional independently identica

[2017-03-24 16:59] egull commented on #302
That's a good idea – an easy-to-handle complex observable that takes care of correlations between the real and imaginary part in a transparent. Definitely worth thinking about more. I think we should do this as a future feature.
As for the full covariance matrix: this is implemented, but the only code that uses it afaik is the Maxent code, and I don't think it's actively being used by anyone at th

[2017-04-07 19:28] mwallerb opened #304 "Confusing interface to mesh points"
We have the distinction between, e.g., `alps::gf::matsubara_mesh`, which is conceptually a set of points, and a `alps::gf::matsubara_index`, which is a typed index into that set of points.

But while indexing a Green's function using `operator()` with an index yields the appropriate value, this is not true for the mesh: `alps::gf::matsubara_mesh::operator()` instead returns back the integer value

[2017-04-07 20:29] galexv opened #305 "Linear transformation of measurement results"
Request from Markus @mwallerb: it would be good to have a linear transformation of a vector `Result`, something along these lines:
[code]
Markus, any additions/corrections are welcome.

[2017-04-11 03:11] shinaoka opened #307 "Random seed in Monte Carlo simulations"
I got some feedback from a user.
He ran our ALPSCore/CT-HYB several times by increasing the random seed one by one to estimate error values of Green's function in MPI calculations.
This will lead to a wrong estimate of error vars because we use the given "SEED" + I for process I.
https://github.com/ALPSCore/ALPSCore/blob/master/mc/include/alps/mc/mpiadapter.hpp#L37

Should we do something like thi

[2017-04-11 03:41] egull commented on #307
I vote for documenting it more clearly. I don’t really see how we could change it in such a way that it is transparent what the seeds are on the non-master nodes (other than writing them down somewhere). Besides, the seeds increased by 1 make it easy to debug if something goes wrong. But it is a problem, I’ve seen that happen before.

Emanuel

[2017-04-11 04:07] shinaoka commented on #307
Yeah, anyway, it should be documented for developers of applications depending the ALPSCore libraries. But let us think about users of these applications. They won't read our documents for sure. How about introducing one more argument to the construct of mcmpiadapter which specifies the step size (default value should be 1).

[2017-05-04 21:07] mwallerb opened #310 "Exposure of `alps::random01` in `alps::mcbase` encourages bias-ridden use."
The naive generation of random integers in some range `[0,n)` from a random number source of range `[0,N)` is biased if `N` does not evenly divide by `n` (i.e., for all practical purposes, if `n` is not a power of 2).

Contrary to popular belief, an intermediate conversion to float *does not* solve this problem: The underlying issue is that whatever a mapping `f: [0,N) -> [0,n)` you choose, it mus

[2017-05-04 21:45] jgreitemann commented on #310
Related: #203

[2017-05-04 21:47] mwallerb commented on #310
@jgreitemann Thanks for the pointer -- I did not scroll down far enough in #203 to see the discussion about different distributions, Might've been a better place to add it there. Mea culpa.

[2017-05-04 22:32] jgreitemann commented on #310
No, I think it's a different issue, just related. ;)

FWIW, I wholeheartedly agree that ALPSCore should provide access to more than just `random01`. Besides the bias, integer distributions are also more efficient. Using `random01() < 0.5` to simulate a coin toss wastes 64 bits of entropy when only one bit is necessary.

[2017-05-05 01:24] shinaoka commented on #301
I tested CXX_STANADARD on my mac and found that this option does not affect the behavior clang3.8.
So, I set C++11/14 flags though CMAKE_CXX_FLAGS.
For now, checking this option does not sound very useful because there are multiple ways to set C++11/14 flags.

One related question.
Is it possible to know what compiler (or vender name) was used to build ALPSCore (possibly via CMake)?
In building ou

[2017-05-05 06:36] egull commented on #310
Markus, can you have a look at the distribution generators for an hour or two and see if there's an easy way to do this and #203?

[2017-05-05 08:05] egull commented on #310
Here is a potential solution: instead of having random01 having the engine directly:

boost::random::mt19937 rng;

...this only exists inside of the distribution generator at the time. As a convenience, we can provide random01, but rather than that we should give access to rng, so that a developer can use things like

boost::random::uniform_int_distribution<> six(1,6);
six(rng);

boost::random::un

[2017-05-05 15:09] galexv opened #312 "Compilation of ALPSCore with IBM xlc++ (e.g. on UMich's "conflux")"
There is a number of problems, ranging from compilation failure to lack of optimization. Some of them can be addressed on our side.

1. Boost will not compile unless `-qnoxlcompatmacros` compiler flag is given.
1. Default `cmake` invocation that sets `CMAKE_BUILD_TYPE` to `RelWithDebInfo` results in unoptimized (equivalent to `-O0`, `NDEBUG` not defined)  build.
1. `xlc++` compalins about lost opt

[2017-05-05 15:18] galexv commented on #312
Ok, this seems to be no longer be true with xlc++ 13.1.4 and CMake 3.5.2. I see `CMAKE_CXX_FLAGS_RELWITHDEBINFO` set correctly to `-O2 -g -DNDEBUG`.

Still, '-qnoxlcompatmacros -qmaxmem=-1` is needed.

[2017-05-05 17:17] galexv opened #313 "Several tests fail on IBM Power8 when compiled with xlc++"
The following tests fail:

* `mean_err_count` : numerical discrepancy about 2.E-8 in the mean value, 2.E-7 in the error value for float no-binning accumulators with linear data;
* `save_load2`: HDF5 error when testing `long double` accumulators, see issue #290;
* `custom_type`: HDF5 error when testing user-defined type accumulators, see issue #290;
* `file_read`: SIGSEGV when testing `param.WrongV

[2017-05-05 20:01] galexv opened #314 "ALPSCore does not compile with Boost 1.64 (fix is simple)"
...because `boost::ublas` uses `boost::serialization::make_array` and the latter has been moved to another header (`boost/serialization/array_wrapper.hpp`).

Explicitly having  `#include <boost/serialization/array_wrapper.hpp>` makes it compile, but (strictly speaking) re-introduces explicit dependence on `boost::serialize`.

I am marking it as a bug for the time being, but we really have to get r

[2017-05-10 18:33] galexv opened #315 "ALPSCore build conflicts with Darshan on NERSC machines"
Both [Darshan](http://www.mcs.anl.gov/research/projects/darshan/) module and [gf/test/mpi_guard.cpp](https://github.com/ALPSCore/ALPSCore/blob/master/gf/test/mpi_guard.cpp#L48) intercept `MPI_Init()`.

For now, it's easier to unload Darshan module (`module rm darshan/3.1.4`), but the ALPSCore code has to be changed to compile this part conditionally (it is normally used only while debugging).

Cro

[2017-05-10 19:34] galexv opened #316 "Some ALPSCore tests crash-SIGSEGV before main() on NERSC Cori"
Besides all MPI tests fail because MPI is not allowed on the login node, the following tests crash (SIGSEGV in  `__gthread_once` ... called from `include/streambuf` ...) even before `main()` is called:

accumulators/testharness
accumulators/scalar_result_type
gf/index_test
gf/mesh_test
gf/one_index_gf_test
gf1_print_test
two_index_gf_test
three_index_gf_test
seven_index_gf_test
itime_gf_test
fouri

[2017-05-10 19:49] galexv commented on #316
Seems that compiling with `darshan` module loaded helps.
(See issue #315).

[2017-05-11 02:06] #316 closed

[2017-05-11 13:41] galexv commented on #315
Fixed by commit 762662f60e227d41809e9f70f25540cdb28766ff .

[2017-05-11 13:41] #315 closed

[2017-05-18 13:32] galexv opened #317 "Suspected too high memory consumption when doing vector arithmetic"
Markus (@mwallerb) suspects that there is too much memory consumption when operating on large vectors due to creating unnecessary temporaries in vector arithmetic.

[2017-05-18 13:35] galexv commented on #312
I leave it open until test failures (issue #313) is addressed; then it must be documented in Wiki.

[2017-05-18 14:18] egull commented on #317
I'm not surprised. Especially with the full and log binning observables. No
binning should be fine but of course has no error analysis...

On May 18, 2017 6:32 AM, "Alexander Gaenko" <notifications@github.com>
wrote:

[2017-05-22 17:48] galexv opened #319 "Are "large" (fragmented) HDF5 files still supported?"
In `hdf5::archive` constructor  it is possible to pass archive creation/opening flag `"l"` which uses [HDF5 "family" driver](https://support.hdfgroup.org/HDF5/doc/RM/RM_H5P.html#Property-SetFaplFamily); this requires use of printf-style format symbol (`%d`) in file names, see https://support.hdfgroup.org/HDF5/doc/TechNotes/BigDataSmMach.html .

This feature is not tested in ALPSCore any more (the

[2017-05-22 17:49] egull commented on #319
I think so. No need to carry something around that we know is buggy.

[2017-05-25 19:11] galexv opened #320 "Confusing "w" and "a" opening modes for HDF5 archive"
When an HDF5 archive is open in `"a"` mode, the existing file is opened, and the operations are performed on that file.

However, when an HDF5 archive is open in `"w"` mode:
1. The existing file (if any) is copied to a temporary name;
2. The operations are performed on the temporary copy;
3. On archive close, the original file is removed and the temporary file is renamed into the original name.

I

[2017-06-14 16:13] galexv opened #322 "Test failures after merging de-boosted branch"
WTH?? Some errors creeped in during merge??
Looking at it...

[2017-06-14 16:51] galexv commented on #322
Seems nothing more than a type in a long-to-run test. Fixed.

[2017-06-14 20:51] egull commented on #322
No, not good. I get additional failures:
[ RUN      ] CheckScheduleTest.UseFakeTimer
/Users/egull/ALPSCore/mc/test/check_schedule.cpp:70: Failure
Value of: checker.pending()
  Actual: false
Expected: true
[  FAILED  ] CheckScheduleTest.UseFakeTimer (1 ms)
[----------] 2 tests from CheckScheduleTest (1 ms total)

In addition, I the reduce and sum_mpi tests do not terminate.

[2017-06-17 00:45] galexv commented on #319
Support for the split-files removed, so the above-mentioned bug is not pertinent anymore. Closing the issue.

[2017-06-17 00:45] #319 closed

[2017-06-17 00:46] #320 closed

[2017-06-17 00:56] galexv opened #323 "Negation of `result` negates the error bar"
The code like this results in `rset["negative"]` having a _negative_ error bar.

[code]

Fix of this particular issue is simple, but pending writing a proper test set.

[2017-06-17 12:03] galexv opened #324 "Allow single-dash parameters"
`alps::params` should be able to accept single-dash long parameters in command line.
 For example, `--some-arg=3` and `-some-arg=3` should be equivalent.

[2017-06-17 12:05] galexv opened #325 "Make exception from missing / misspelled parameter file less scary"
Reated to issue #324 : if parameter file is misspelled or an argument is mistaken for a parameter file name, tell about it in graceful, user-friendly terms.

[2017-06-21 09:52] egull commented on #310
Markus, do you want to propose a change here or should we delay this for later?

[2017-06-21 09:59] egull opened #326 "Green's function issues"

[2017-06-21 10:03] egull opened #327 "Compilation Improvements"

[2017-06-21 10:06] egull opened #328 "Parameter library tweaks"

[2017-06-21 10:09] egull opened #329 "Monte Carlo related things"

[2017-06-21 10:14] egull commented on #172
Markus, I'm assigning this to you. It's low priority but would be a good use of hypothesis testing.

[2017-06-21 10:22] egull opened #330 "MPI and Scaling"

[2017-06-21 10:28] egull opened #331 "Documentation"

[2017-06-21 10:30] egull opened #332 "HDF5 improvement"

[2017-06-21 10:37] egull commented on #314
depends on #37 and #157

[2017-06-21 14:04] mwallerb commented on #172
Fine.

Proposed Roadmap:
* Set up a linear autoregressive process (AR(1))
* Bin it
* In this case the integrated and exponential autocorrelation time coincide with the characteristic relaxation of the process -- verify it stochastically.

[2017-06-21 14:06] mwallerb commented on #310
Well, the main question is whether we are going to revamp the `mcbase` class anytime soon.  If yes, I would combine it; if not I can propose a quick patch, however, I don't believe it will be widely adapted since most ppl. that use the mcbase class already have their legacy way of doing things.

[2017-06-27 17:57] iskakoff opened #334 "Alps parameters changing"
After the save method in alps::params has been changed to

    void params::save(hdf5::archive& ar) const
        {
            possibly_parse();
            const std::string context=ar.get_context();
            const std::string dict_group=context+"/dictionary";
            const std::string def_group=context+"/definitions";
            const std::string state_group=context+"/object_state";

[2017-06-29 14:59] pbakalov opened #335 "test mpi_utils_reduce fails"
I'm trying to compile on Ubuntu 12 (Boost 1.61, Cmake 2.8.12).

Upon `make -j10 test` I get:

`       Start  13: mpi_utils_reduce`
` 13/102 Test  #13: mpi_utils_reduce .........................***Failed    0.04 sec
`

All other tests pass. Where could the problem be?

PS during the cmake configuration I get the following (might be relevant):

`-- Compiler does not support MPI. Trying to find MPI`

[2017-06-29 17:17] egull commented on #335
Please run the test manually (rather than via make test) and post it's
output here.

On Jun 29, 2017 11:59 PM, "pbakalov" <notifications@github.com> wrote:

[2017-06-30 09:54] pbakalov commented on #335
Here it is:
`$ ./utilities/test/mpi_utils_reduce`
`[==========] Running 140 tests from 28 test cases.`
`[----------] Global test environment set-up.`
`[----------] 5 tests from MyPlus/MpiReduceScalarTest/0, where TypeParam = Proxy<char, std::plus>`
`[ RUN      ] MyPlus/MpiReduceScalarTest/0.allreduceByPointer`
`[VirUbuntu12:2966] *** An error occurred in MPI_Allreduce: the reduction operation MPI_

[2017-07-01 06:21] galexv commented on #335
This error seems to be harmless. I will probably be able to fix it (simply
do not test mpi_reduce on type char) once I have a proper connection (I am
out on vacation now). Meantime, I believe it can be safely ignored.

With best regards,
 Alexander.

On Jun 30, 2017 3:24 PM, "pbakalov" <notifications@github.com> wrote:

Here it is:
$ ./utilities/test/mpi_utils_reduce
[==========] Running 140 tests

[2017-07-03 13:52] pbakalov commented on #335
Good to know! Many thanks!

[2017-07-13 22:00] krivenko opened #337 "[hdf5] Make signatures of save()/load() consistent throughout the library"
I am currently trying to write a GF class, which is derived from `two_index_gf<std::complex<double>, my_mesh, my_mesh>`.

Following a [tutorial](https://github.com/ALPSCore/ALPSCore/blob/master/tutorials/hdf5/custom_hdf5/main.cpp#L73), I defined a couple of methods in `my_mesh`,
[code]
`my_mesh` can now be successfully saved/loaded to/from an HDF5 archive.

When I try to save the GF, I get the fol

[2017-07-18 18:04] galexv opened #338 "Merge negative-error-bar test into other accumulators tests"
The test for negative error bars [`negative_error.cpp`](https://github.com/ALPSCore/ALPSCore/blob/fca04c7ce296169f776856765300b4605cd839c9/accumulators/test/negative_error.cpp) should be merged with [other accumulator arithmetic tests](https://github.com/ALPSCore/ALPSCore/blob/master/accumulators/test/unary_ops.cpp).

This is inherited from issue #323 and related to issue #172 (proper testing of a

[2017-07-18 18:05] #323 closed

[2017-07-18 18:08] galexv commented on #61
Implementation for FullBinning needs proper testing, see issue #172.

[2017-07-18 18:21] galexv commented on #172
There is a code in [`accumulators/test/accumulator_generator.hpp`](https://github.com/ALPSCore/ALPSCore/blob/master/accumulators/test/accumulator_generator.hpp)
 (admittedly, wanting some refactoring) that [generates autocorrelated data](https://github.com/ALPSCore/ALPSCore/blob/master/accumulators/test/accumulator_generator.hpp#L124): in my understanding, it implements [AR(L)](https://en.wikipedi

[2017-07-24 21:29] krivenko commented on #337
After a brief discussion we concluded that the signature of `save()`/`load()` should be consistent throughout the library. My personal preference is to leave one argument everywhere.

This is a long-term task as it can potentially break existing codes.

[2017-07-24 22:09] krivenko commented on #337
It turns out that `alps::hdf5::archive::operator<<()` and `alps::hdf5::archive::operator>>()` always call the single-argument versions of `save()`/`load()`.

[2017-07-25 02:27] aeantipov commented on #337
I think this also applies here - load() doesn't allow to construct an object from archive, i.e. a default constructor is needed for every object.

[2017-07-25 13:34] galexv commented on #337
The fix is ready, upload pending completion of tests.

[2017-07-25 17:51] krivenko commented on #337
This is another issue that has to be addressed. But I think it deserves a dedicated discussion.

[2017-07-25 18:12] krivenko commented on #337
It looks like I still need both versions of `load()`/`save()` in my mesh. Is this the intended resolution of the issue?

[2017-07-25 21:59] galexv commented on #337
Ah, i see. If this is the issue, then we can get rid of 2-argument save/load in meshes altogether (i do not think they are used "externally" in any way).

[2017-07-25 22:11] galexv commented on #337
Thanks Igor (@krivenko)!

[2017-07-25 22:32] krivenko opened #340 "[hdf5] Make it possible to load non default constructible objects"
This feature request is inspired by Andrey's [comment](https://github.com/ALPSCore/ALPSCore/issues/337#issuecomment-317610336), as well as by my recent experience with ALPSCore HDF5 interface.

Basically, we need a standardized interface for classes to describe how they can be constructed from an HDF5 archive/group. This interface would probably be made of a factory function (free function or stat

[2017-07-25 22:47] #337 closed

[2017-07-26 02:13] shinaoka opened #341 "[hdf5] Reading a list of fixed strings"
Related to this issue #332

When we write a list of strings to a HDF5 with h5py,
it seems that the data are stored as fixed-size strings.
But, ALPSCore hdf5 libraries do not support "load" of this data type.

Here is my test.
https://github.com/shinaoka/ALPSCoreTests/tree/master/str_vec_hdf5

We can reproduce the error as follows.

str: A
libc++abi.dylib: terminating with uncaught exception of typ

[2017-07-26 15:06] galexv commented on #341
I will look at it shortly.

[2017-07-26 15:15] galexv commented on #277
I believe this one is closed by PR #300 (thanks Hiroshi @shinaoka !)

[2017-07-26 15:15] #277 closed

[2017-07-26 15:22] galexv commented on #340
Is it still necessary, considering that GFs are default-constructible? (issue #277)
What objects do we want to construct directly from HDF5?

I am under impression, since recently, that non-default-constructible objects bring more troubles than benefits (e.g., there are troubles with Python interface and with `std::map`)

[2017-07-26 16:00] krivenko commented on #340
Objects of my own class, which I want to be storable in `alps::hdf5::archive`.

Some object are intrinsically non-default-constructible. I mean those with constant or reference members. And for many others an "empty" state, while technically possible, makes no real sense.

Hm, what is exactly wrong with `std::map`?

[2017-07-26 16:22] galexv commented on #340
True. But those objects are troublesome. :)

Very true; GF being one such example. However, in order to interface it with Python, we had to [introduce the "empty" state](https://github.com/ALPSCore/ALPSCore/issues/277#issuecomment-286420406).

[code]

But as the feature request goes, i am open to this. Any suggestions what would be convenient? Maybe, a specialization of `template <typename T> T al

[2017-07-27 19:35] mwallerb opened #343 "Unstable variance from `LogBinningAccumulator`"
The computation of the error and autocorrelation time in `LogBinningAccumulator` from the running averages `m_ac_sum` and `m_ac_sum2` (`<X>` and `<X^2>`) is numerically unstable if X never assumes zero.  (This means it is not a big problem in practice as many estimator indeed do assume zero once in a while.)

The relevant code is:
https://github.com/ALPSCore/ALPSCore/blob/master/accumulators/inclu

[2017-07-27 19:40] galexv commented on #343
Would it be possible to have a unit test on this?

[2017-07-27 19:52] mwallerb commented on #343
Again, this is not a huge issue.  Here is a quick and admittedly somewhat contrived (E[x]=1e6) example in python, where the error is in the fourth digit, but the mean is very large:

[code]

I can try and cook sth up in C++ . . .

[2017-08-10 19:28] galexv opened #344 "Suggest compiling ALPSCore by g++ with `-Weffc++`"
The [`-Weffc++` flag](https://gcc.gnu.org/onlinedocs/gcc/C_002b_002b-Dialect-Options.html) activates warnings of violations of "Effective C++":

For example, a bug mentioned at https://github.com/ALPSCore/ALPSCore/issues/322#issuecomment-308554348 could have been caught by this setting (even `valgrind`, although it detects the use of an uninitialized variable, does not pinpoint the origin of the p

[2017-08-10 19:31] galexv commented on #313
Maybe the same as issue https://github.com/ALPSCore/ALPSCore/issues/322#issuecomment-308554348

[2017-08-10 21:43] galexv opened #345 "Add a continuously-tested "development" branch to the repo"
Currently, changes have to be merged into master to be tested by CI. It may be worth to have a separate development branch, which should be also auto-tested, and from which the merges are done after some review, via pull-requests.

[2017-08-10 21:47] egull commented on #345
good idea. And easy to implement with Jenkins on AWS.

[2017-08-10 23:26] galexv commented on #345
Added "devel" branch: https://github.com/ALPSCore/ALPSCore/tree/devel

Set up Cloudbees/Jenkins builds: [quick-build](https://alpscore.ci.cloudbees.com/job/alpscore-devel-fedora17_boost-1.60.0_hdf5-1.8.13_openmpi-1.10.1_quickbuild/) and [long-test](https://alpscore.ci.cloudbees.com/job/alpscore-devel-fedora17_boost-1.60.0_hdf5-1.8.13_openmpi-1.10.1_longtest/).

[2017-08-11 00:17] egull commented on #322
yes, this seems to have fixed #322 .

[2017-08-11 00:24] egull commented on #290
we still have this failure on hdf5 1.10.1, for the accumulators/test/custom_type and accumulators/test/save_load2

[2017-08-11 16:24] iskakoff opened #347 "Explicit versioning of ALPSCore installation"
Recently we have changed the structure of hdf5 representation for parameters that broke several codes that was based on the previous implementation. It's clear that some other functionality we do have right now will evolve in future and probably it will not be compatible with what we have right now.
And it will bring us back to a set of broken codes. I've try to find any information about ALPSCore

[2017-08-11 16:49] galexv commented on #347
Good idea. I was thinking about the same for some time now, that's it's time to introduce an explicit versioning.

[2017-08-11 17:23] galexv commented on #345
It seems to be working, so i am closing it.

[2017-08-11 17:23] #345 closed

[2017-08-11 18:50] galexv opened #348 "sum_mpi test (from MC) fails on Cray (NERSC cori)"
It is statically compiled ALPSCore with the default cray-HDF5 (1.10.1). The error is:
[code]

[2017-08-11 18:52] galexv commented on #348
It might be the same bug as issue #290

[2017-08-14 17:16] galexv commented on #290
Another argument in favor of using HDF5 1.8 for now: https://lists.hdfgroup.org/pipermail/hdf-forum_lists.hdfgroup.org/2016-May/009481.html

In essence, HDF5 may fail to write to an HDF5 file on Lustre if Lustre locking mechanism is disabled by system administrator.

With 10.1 there came a [possible workaround](https://support.hdfgroup.org/ftp/HDF5/releases/ReleaseFiles/hdf5-1.10.1-RELEASE.txt):

[2017-08-18 19:25] kleinhenz commented on #304
I guess the intention is to have the call operator of the `mesh` object map from the "physical" value of the index which may be negative (e.g. for negative matsubara frequencies) to the actual data index? IMHO this makes sense but should probably not use the call operator since as noted by @mwallerb the call operator is used for indexing the actual `gf` objects. Would it make sense to define a mem

[2017-08-18 19:26] galexv commented on #304
Yes, this is a sound option --- and i am working on it right now. :)

[2017-09-12 12:30] jgreitemann opened #349 "Remove boost::filesystem from tutorials"
The Ising tutorials still try to construct `alps::hdf5::archive` from a `boost::filesystem::path`:

* tutorials/mc/ising2_mc/main.cpp:80
* tutorials/mc/ising2_mc/main_mpi.cpp:88
* tutorials/mc/ising_mc/main.cpp:69

[2017-09-13 21:49] galexv opened #350 "un-deprecate/re-introduce enum modes for archive::open and archive ctor"
This is related to issue https://github.com/CQMP/CTINT/issues/27

The `int`-argument archive ctor is deprecated as of commit 9a216873681cd (and preceding commits).  I am seriously thinking of reversing this deprecation.

Basically, it was deprecated following a prior maintainer's comment urging to [remove the ctors with an `int` argument](https://github.com/ALPSCore/ALPSCore/blob/8003a199597edac44

[2017-09-15 15:34] egull opened #351 "Accumulator Revamp"
Markus' accumulator revamp

[2017-09-15 15:51] egull commented on #302
depends on #37

[2017-09-15 15:54] egull opened #352 "Get the Eigen dependency into ALPS and provide it to applications"
sic.

This needs collaboration between @galexv and @mwallerb

[2017-09-15 15:54] egull commented on #37
Depends on #352

[2017-09-15 19:59] galexv commented on #351
Do we intend to retain the existing interface, including the separation of `accumulator`s and `result`s? Are we revamping only the implementation?

[2017-09-17 07:07] mwallerb commented on #351
I'm not sure. I don't think the split of `accumulator` and `result` is particularly useful, and I think the current tag-inheritance structure pretty much locks us in in the sense that we cannot perfectly reproduce the API with a different -- and IMHO potentially more maintainable -- setup.

Emanuel's and my proposal would be to introduce a new library, `alps::alea` (working title), with a new setu

[2017-09-18 22:19] egull commented on #351
The split between accumulators and results was originally done to facilitate transfer of data over the network. We'll need to discuss how exactly we're going to do network operations / collective calls with the revamped version once you're back.

[2017-10-09 08:43] #349 closed

[2017-10-16 13:21] galexv opened #355 "Set up CMake 3.0 on Cloubees"
This is required to test Eigen3 bundled (issue #352)

[2017-10-16 14:03] mwallerb opened #356 "`hdf5::archive` needs refactoring"
From a quick glance through [/hdf5/src/archive.cpp](https://github.com/ALPSCore/ALPSCore/blob/master/hdf5/src/archive.cpp):

- [x]  `ALPS_HDF5_WRITE_VECTOR` is a 180-line (!) macro (!!)
- [x]  `ALPS_HDF5_READ_SCALAR_*_HELPER` even mess up the control flow (they expect certain brace structures) and thus thoroughly break the human parser. I'm surprised there is no `return` in there for extra confusi

[2017-10-18 18:02] mwallerb commented on #302
Fixed in the ALEA library (commit 5bfd7b61) by using `alps::alea::circular_var` or `alps::alea::elliptic_var`

[2017-10-18 18:04] mwallerb commented on #317
Fixed in the ALEA library (commit 5bfd7b61) by using in-place accumulation with `alps::alea::computed`.

[2017-10-18 18:05] mwallerb commented on #157
Fixed in the ALEA library (commit 5bfd7b61), which uses Eigen by default.

[2017-10-27 20:55] krivenko opened #359 "[params] Access to parameter metadata"
I am about to write a function that takes an instance of `alps::params`, iterates over all parameters, and adds them to a `boost::program_options::options_description` object. Therefore, access to the following information about a parameter is required:

1. Parameter type;
2. Parameter description;
3. Default value of the parameter.

Point 1 implies that some sort of visitation is required.

How c

[2017-10-27 21:05] galexv commented on #359
At the moment it's possible either by writing a corresponding visitor, or, maybe, by accessing internals of the parameter object, because it uses `program_options` in the current implementation.

The new version of parameters will necessitate reimplementation. I can take care of that, or we can meet on Monday and discuss. Can you think of a convenient interface without explicit dependency on boost

[2017-10-27 21:30] galexv commented on #359
Another option would be to provide some `parameter_visitor` API,  to have `operator<T>(name, value)` called for every parameter, passing the type `T`, the name and the value  (I guess it's what you had in mind too). Would it be a better option? It looks, at least, more universal.

[2017-10-27 21:30] krivenko commented on #359
`boost::apply_visitor()` and friends are parts of the variant library, which is header-only. Currently, `option_type` uses visitation internally, but does not expose the interface to user. I think, this is very easy to fix. Moreover, retaining the same interface in the new version should not be too difficult either.

[2017-10-27 21:37] krivenko commented on #359
Yes, this is what I meant. For an object `op` of type `option_type` I should be able to write
[code]
That said, I still cannot see what to do about points 2 and 3. Would need to read `option_description_type.hpp` first...

[2017-11-02 15:36] galexv opened #362 "Too much bookkeeping info in archived parameters"
As per request in https://github.com/ALPSCore/CT-HYB/issues/11#issuecomment-341436453 , decrease the amount of clutter when storing parameters to an archive.

1. Minimize the clutter
2. Possibly, provide some kind of `params::export(ar)` to save only the parameter values rather than the state of the object.

[2017-11-02 15:39] galexv commented on #334
Yes, for sure, in the coming version the parameter storage format will change.
I am open to suggestions what could be a most desirable layout.

[2017-11-06 19:32] galexv commented on #362
Addressed by PR #363, among other things.

[2017-11-06 19:34] galexv commented on #352
The issue is addressed (modulo possible bugs that are separate issues). Closing.

[2017-11-06 19:34] #352 closed

[2017-11-06 19:35] galexv commented on #355
Newer CMake is uploaded to Cloudbees.

[2017-11-06 19:35] #355 closed

[2017-11-06 19:42] galexv opened #364 "Eigen3 is not detected properly with CMake <3.3"
...because `find_package_handle_standard_args` behaves differently.
Fixed by commit 52927384a6c1224e14c25dff2b13495253e6ad3b.

[2017-11-06 19:42] #364 closed

[2017-11-06 19:49] galexv opened #365 "`make install` fails when Eigen co-installation is requested"
Using a separately installed Eigen3 works fine.

[2017-11-07 15:09] #365 closed

[2017-11-07 15:10] galexv commented on #365
Fixed by commit  ba25505

[2017-11-07 21:27] galexv opened #366 "[new params] make dot, not colon, a section separator"
As per discussion in https://github.com/ALPSCore/ALPSCore/pull/363#issuecomment-342624638

[2017-11-08 19:39] galexv opened #367 "[new params] make parameters case-sensitive"
As per discussion:

[2017-11-08 19:41] galexv opened #368 "[new params] Creates a temporary file when reading command line"
We should make INI parser to read from memory buffer / file stream instead.

[2017-11-08 19:47] galexv opened #369 "[new params] make HDF5 archive format implementation-independent"
Currently HDF5 parameter use an integer tag to encode types of stored values. This provisional implementation depends on implementation of `boost::variant` and on the number and the order of supported types, and thus has to be changed.

[2017-11-08 19:50] galexv opened #370 "[new params] Make help message look better"
...which necessitates better approach to represent types internally and on print (see discussion at PR https://github.com/ALPSCore/ALPSCore/pull/363#discussion_r149526529).

[2017-11-10 15:27] galexv commented on #368
Markus (@mwallerb): can you share that regex for INI file parsing? If it works for us, we can drop the INI library altogether when we switch to C++11; then no need to fix it now.

[2017-11-10 15:56] egull commented on #295
@galexv, can you give a status update? I just heard from Lode/Jonas that this one is critical for them.

[2017-11-10 15:58] egull opened #371 "Link to ALPS Application packages"
By now we have a few of these codes: Maxent, hybridization expansion, and now a different one:

https://arxiv.org/abs/1711.03044
They should be linked from the ALPSCore page.

[2017-11-10 16:09] galexv commented on #295
@egull Ok, it has just went to my top-priority task list.

[2017-11-10 16:50] mwallerb commented on #368
@galexv Here is a small python script that parses INI files. It contains the relevant regexes
https://gist.github.com/mwallerb/ca314824c848cd8d9d254644a6984641

[2017-11-11 17:15] egull commented on #371
Fixed by adding links here: https://github.com/ALPSCore/ALPSCore/wiki/Applications-that-use-ALPSCore

[2017-11-11 17:15] #371 closed

[2017-11-13 21:46] krivenko opened #372 "[accumulators] accumulator_set is not thread-safe"
Here is my word of warning to everyone who is going to use the accumulators (present implementation) in a multi-threaded environment.

For purposes of serialization, `alps::accumulators::accumulator_set` keeps a run time registry of all accumulators supported by the library.
https://github.com/ALPSCore/ALPSCore/blob/84bb116d66541cb61543d539b345a1c2f57f367d/accumulators/include/alps/accumulators/wr

[2017-11-14 00:38] krivenko commented on #372
Updated Wiki:

https://github.com/ALPSCore/ALPSCore/wiki/Overview/_compare/69f0a4eed412440c99f78dfce7db88751740372e...fd552c2dac09c8f3e7f16a5d6775a54dc6d76676

[2017-11-14 16:08] jgreitemann commented on #372
I encountered this problem a while back. Since the race condition occurs in the constructor, the naive workaround of just putting a `critical` in front of the ctor
[code]
doesn't work because `critical` will wrap the last line in a nested scope, rendering `sim` inaccessible thereafter. Since simulation classes are most likely not default-constructible, separating the declaration of the variable bi

[2017-11-14 17:11] krivenko commented on #372
Well, I would not be able to use OpenMP workarounds since we rely on a different multi-threading library (HPX).
The actual question is why that registry has to be a non-const static (essentially global) variable.

@galexv @egull Now that I updated the wiki, can we close this issue?

[2017-11-14 17:16] egull commented on #372
I'm ok with closing. Alex?

On Nov 14, 2017 6:11 PM, "Igor Krivenko" <notifications@github.com> wrote:

[2017-11-14 18:10] galexv commented on #372
I am ok with closing it.
However, as there are users of ALPSCore in multithreaded environment, we should go through the code and make sure it's thread-safe.

[2017-11-14 23:10] mwallerb commented on #295
Just for mental bug-tracking for me: this is fixed in ALEA by commit d5c6c1e4 .
It is of course *not fixed* in the accumulators library.

[2017-11-15 15:16] galexv commented on #372
I'd suggest moving the warning from the Overbview Wiki page (is it really Overview?) to the Known Problems page. I made the Known Problems visible in sidebar.

[2017-11-15 15:28] galexv commented on #295
So, the current version of the fix (commit as of 9bd2ff2) does not merge the autocorrelation lengths properly. But should it?

I am asking for the opinions regarding the sensibility of merging autocorrelation times (this question is also relevant to the new ALEA library).  The mean and the variance are properties of the measured random variable, while autocorrelation length (at least, as it's oper

[2017-11-15 15:47] galexv opened #374 "Compilation picks up a binary file as a header"
The same issue as issues #201 and #202.
It's usually a problem with user's configuration (having the current directory in include search path somehow), but it come up often and probably needs addressing in Troubleshooting section in docs.

[2017-11-15 15:53] mwallerb opened #375 "Does not compile cleanly with `-Wall`"
ALPSCore emits a huge strings of warnings with `-Wall`, particularly in the HDF5 and the accumulators modules.

This makes it very ugly to enable `-Wall` by default (ideally also `-Wextra`, but I'm not that `-pedantic`).  By disabling `-Wall`, however, we hide a lot of potential problems in the development stage.  Also, it is just not good style to have warning-ridden code.

[2017-11-15 15:55] galexv commented on #375
Related: #344

[2017-11-15 16:12] galexv opened #376 "[new params] Implement params::defaulted"
It may have been used in existing codes (see issue #109).
The purpose of the method is to check whether the key was supplied through a file or a command line, or acquired its value by some default.

[2017-11-15 16:18] galexv opened #377 "[new params] Implement params::has_unused()"
The purpose is to provide a mechanism to warn a user, on request, that some supplied parameters were not referenced in `define()` call, optionally limiting report to a particular section.
See also issue #151.

[2017-11-15 16:24] galexv commented on #370
Related issue #143.

[2017-11-15 17:29] jgreitemann commented on #295
Correct me if I'm wrong, but I'd say the autocorrelation time obtained from a naive binning analysis based on many independent Markov chains which have been concatenated remains valid, at least as far as it is used to estimate the real error of the accumulator. The whole point of the formation of successively larger bins is to decorrelate the bin averages. In the extreme case where the number of b

[2017-11-15 19:17] galexv opened #378 "[new params] Comparison between dict values holding integers"
Some comparison tests fail. This is a convenience feature allowing to do stuff like:
[code]
and can be temporarily withheld.

[2017-11-15 21:57] mwallerb commented on #295
@galexv, @jgreitemann   I agree with almost everything :-)

For `K>1` runs, If we understand `tau` as autocorrelation time, it is technically invalid, since, as you point out, you don't have a "thread of measurements" anymore but rather a nexus (common starting point) from which multiple threads emerge.  However, the definition of `tau_int` as correction factor to the law of large numbers still wo

[2017-11-15 22:46] galexv commented on #295
@jgreitemann @mwallerb @egull ALEA (PR #357) will replace the current accumulators. How important is the correct autocorrelation after *repeated* merges for now --- do we need to have it fixed in the current code?

[2017-11-15 23:10] jgreitemann commented on #295
From our end it's no matter of urgency. We [manually reset the accumulators](https://gitlab.lrz.de/Lode.Pollet/LecturesDiagrammaticMonteCarlo/blob/master/Froehlich_Selfenergy/bold_diagmc.cpp#L87) in the (more or less final) version of our bold DiagMC code. And for DiagMC specifically the autocorrelations are typically very small and the whole error analysis becomes somewhat meaningless in the self

[2017-11-15 23:16] mwallerb commented on #295
@jgreitemann

Not if you thermalize for each run.

[2017-11-15 23:24] galexv commented on #295
Ok, so, apart from the issue of autocorrelation, the accumulator is now [reset on ALPSCore side](https://github.com/ALPSCore/ALPSCore/blob/c987a08cf5b18d54149e164aecbb0d9feed67bec/accumulators/include/alps/accumulators/accumulator.hpp#L874) (PR #380).

(As a side-effect, there is no `const`-version of `collective_merge()` anymore).

[2017-11-15 23:24] jgreitemann commented on #295
@mwallerb Well yes, but chances are that if you don't reach sufficiently many samples to decorrelate the Markov chain, either your thermalization phase is too short too, or thermalization takes most of the computation and it's pointless to parallelize in the first place.

[2017-11-15 23:29] mwallerb commented on #295
@jgreitemann  Sure.  I think I will run a couple of experiments for an AR(1) model and see which strategy comes out on top.  My feeling is that an average over `tau_int` is somewhat more well-defined, but we'll see.

[2017-11-16 16:27] galexv opened #381 "Assigning an archive object results in a bug"
The following code:
[code]
throws an exception ("archive is not writable") and fails a valgrind check (accessing uninitialized memory). Compiling with `-Weffc++` (see issue #344) confirms that, indeed, a non-default `operator=` should be implemented.

As a patch for now, i suggest simply disallowing assignment of archive objects to one another. Later it can be implemented properly (by implementing

[2017-11-16 19:12] galexv opened #383 "No way to determine if a type is "native" according to hdf5::archive"
It would be good to have a meta-predicate for this, `alps::hdf5::is_native<T>`, which is truthy if `T` is "native" and falsy otherwise.
Without this, an attempt to call `alps::hdf5::archive::is_datatype<T>()` throws for non-native type `T`.

[2017-11-17 02:27] galexv commented on #341
@mwallerb Markus, in fact we discussed it recently and the solution (on Python side) seemed simple. Do you mind taking over this?

[2017-11-17 14:10] #381 closed

[2017-11-20 15:19] galexv commented on #368
Not a serious problem now, not worth fixing if we are switching to regex-based INI reader.

[2017-11-20 19:52] galexv commented on #240
Addressed in commit a0fadce
Joined with issue #370.

[2017-11-20 19:52] #240 closed

[2017-11-20 19:53] galexv commented on #370
See also issue #240

[2017-11-22 14:40] galexv opened #386 "Implement in-place MPI reductions"
Required, e.g., by ALEA: https://github.com/ALPSCore/ALPSCore/blob/0b04f2508ddbaaebe6bf878b48aa4b3fb1b0692d/alea/include/alps/alea/mpi.hpp#L81

[2017-11-22 14:54] mwallerb commented on #386
Yeah, so ALEA works with the underlying MPI library, but of course it would be nice to have it in the wrapper . . .  I would say it is rather low prio?

[2017-11-23 14:54] galexv commented on #359
I see that as of commit https://github.com/CQMP/InchwormHPX/commit/b23525f9e5253266a5e80753ec85c68d1e526c9d `apply` and `foreach` free functions are not used (please correct me if i am missing something!).

In the revised design of `alps::params` parameters do not have any default value as an attached attribute; instead, if at the moment of parameter definition the value of parameter is not suppli

[2017-11-23 14:54] #359 closed

[2017-11-25 00:27] yurivict opened #387 "Doxygen documentation should be generated by `make` and installed by `make install`"
I didn't change documentation option, so that it's "ON", and configure said:
[code]
but no documentation was installed.

Found on FreeBSD.

[2017-11-25 00:44] yurivict opened #388 "Some tests fail on FreeBSD"
With OPENMPI3:
[code]

Without OPENMPI3:
[code]

[2017-11-25 00:48] yurivict opened #389 "Builds in debug mode when CMAKE_BUILD_TYPE=Release"
With ```CMAKE_BUILD_TYPE=Release``` getting these warning:

[code]

CMAKE_BUILD_TYPE should fully determine debug flags.

[2017-11-25 06:24] yurivict opened #390 "Missing -lexecinfo"
I have to add `LDFLAGS+=-lexecinfo` because it is otherwise missing.

Found in the FreeBSD port.

[2017-11-25 22:32] galexv commented on #390
Thanks for the tip.

[2017-11-25 22:42] galexv commented on #388
`save_load2` and `custom_type` failures is [a known problem](https://github.com/ALPSCore/ALPSCore/wiki/Known-problems-and-workarounds#some-hdf5-related-tests-fail).
Failure of `mpi_utils_env_exceptions1`needs investigation.

[2017-11-25 22:45] galexv commented on #387
Documentation is generated by `make doc`.

[2017-11-25 22:48] yurivict commented on #387
You should just run it when the cmake option is set then.

[2017-11-27 15:00] galexv opened #391 "Hint user's CMake on the location of Boost"
A user may rely on Boost features that ALPSCore itself does not need (such as `boost::chrono`).  Then user's `CMakeLists.txt` has to find Boost and request the correct features. We should hint the script to find the same Boost. Possibly, even "insist" on finding the same Boost: if ALPSCore's Boost does not provide the required libraries, compilation should fail and the user must recompile ALPSCore

[2017-11-27 15:11] galexv opened #392 "Removed `alps::params::get_origin_name()` is used by some application codes"
...it has to be brought back (deprecated, if needed, in favor of a "better" approach).

[2017-11-27 15:39] galexv opened #393 "Clean up Doxygen documentation: eliminate warnings"
There was some sloppiness in writing Doxygen comments, resulting in the generated docs not looking as intended. Doxygen issues warnings in the relevant places. Those warnings should be addressed.

[2017-11-27 16:00] galexv commented on #392
Resolved by commit e1c45c8f748e7afec0f30ffb13b8ce7530f7d3e8

[2017-11-27 16:00] #392 closed

[2017-11-27 16:03] galexv opened #394 "Remove Jenkins builds with old Boost, add builds with header-only newer Boost"
..on CloudBees.

[2017-11-27 20:47] mwallerb opened #396 "Overriding `CMAKE_CXX_FLAGS` breaks MPI-enabled build"
Supplying custom C++ compiler flags to `cmake`, e.g.:

    cmake .. -DCMAKE_CXX_FLAGS="-Wall"

for breaks make on cmake > 3.10 if MPI is enabled because it generates a semicolon `;` in the middle of the build flags:
[code]

[2017-11-27 21:59] ryanlevy opened #398 "params initialization error"
When attempting to set a parameter with the wrong data type, an error prints out `Attempt to read uninitialized value`
Here is a simple use case:
_main.cpp_
[code]
_in.ini_
[code]
or `./main --count=st`
Error:
[code]
I came across this because of #168. If you set a bool as `0` in an ini file, this is the resulting error, even if defaulted.

[2017-11-27 22:05] #396 closed

[2017-11-27 22:06] ryanlevy commented on #370
Can there be better output for booleans? As per #168, a bool param cannot be set as 0. However the output from a help message has `(default value: 0)` which makes things very confusing.

[2017-11-28 01:06] galexv commented on #398
The invalid format should be caught by:
[code]
This should be better documented, i guess. :)

[2017-11-28 01:14] galexv opened #399 "In help message, format default values as they should look in input"
...especially booleans (as requested in issue https://github.com/ALPSCore/ALPSCore/issues/370#issuecomment-347344522).

[2017-11-28 01:14] ryanlevy commented on #398
Ah I see! Works exactly as I wanted already.

Could we then get the [comment here](https://github.com/ALPSCore/ALPSCore/blob/master/tutorials/params/ini_params/main.cpp#L71) changed to say something about incorrect type please?

[2017-11-29 19:37] #398 closed

[2017-12-01 18:26] galexv opened #401 "Compilation failure with C++11"
Compilation with C++11 complains about ambiguous overloads when a dictionary element is assigned, such as:
[code]

[2017-12-01 19:58] galexv commented on #401
The problem is, of course, that the dictionary value type is "convertible to anything".
I have limited convertibility to "supported types" only, via SFINAE (in a manner that does not work in C++03, so had to add a conditional compilation around it).
I'd like to find a more elegant solution.

[2017-12-01 21:56] egull commented on #401
OK, so this seems fixed but I do get a new test failure:

[ RUN      ] DictionaryTest0.storeStringGetCharPtr
/Users/egull/ALPSCore/params/test/dictionary.cpp:196: Failure
Value of: std::string(actual)
  Actual: ""
Expected: expected
Which is: "Hello, world!"
[  FAILED  ] DictionaryTest0.storeStringGetCharPtr (0 ms)
[----------] 14 tests from DictionaryTest0 (1 ms total)

[2017-12-01 22:13] egull opened #402 "problem with forgotten inline in dict"
this leads to problems in a different part of the code: forgotten inline in dict_value_impl.hpp line 24.

[ 43%] Building CXX object src/util/CMakeFiles/dos2gf.dir/dos2gf.cpp.o
cd /Users/egull/Projects/Inchworm_legion/build/src/util && /opt/local/bin/mpicxx-openmpi-clang39  -DBOOST_DISABLE_ASSERTS -DHPX_DISABLE_ASSERTS -I/Users/egull/software/hpx_dec1_17/include -I/Users/egull/software/hpx_dec1_17

[2017-12-01 22:22] egull commented on #402
fixed by commit d65153a3

[2017-12-01 22:24] egull commented on #402
...oops, that didn't fix it. Working on it.

[2017-12-01 22:37] egull commented on #402
looks like this operator<< is hidden deep within boost variant calls. Do you know how to fix, @galexv?

[2017-12-01 22:39] galexv commented on #402
Looking at it.
Strictly speaking,  dictionary does not need streaming operator for vectors, I am going to get rid of it.

[2017-12-01 23:17] galexv commented on #401
Cannot reproduce it on linux wiith clang 3.8.0
@egull: Could you please send me your `CMakeCache.txt`? Thanks!

[2017-12-02 00:04] galexv commented on #401
Tried on Linux with clang 4.0.0 (and `-std=c++11`), all tests pass as well.

[2017-12-02 00:22] galexv commented on #401
Fix issued in commit 33c5c1a

[2017-12-02 17:21] egull commented on #402
confirmed that it is fixed.

[2017-12-02 17:36] galexv commented on #401
@egull I have merged PR #403 (issue #402); the fix for https://github.com/ALPSCore/ALPSCore/issues/401#issuecomment-348624851 is already in the code (commit https://github.com/ALPSCore/ALPSCore/commit/33c5c1a336d5d73201b91fa2c2e030642737c269).

[2017-12-02 17:43] egull commented on #401
OK. I can confirm that the comment in 401 fixes the test failure.

[2017-12-03 14:49] #402 closed

[2017-12-03 14:50] #401 closed

[2017-12-03 14:52] #383 closed

[2017-12-03 14:53] #376 closed

[2017-12-03 14:54] #347 closed

[2017-12-03 14:54] #366 closed

[2017-12-03 14:55] #369 closed

[2017-12-03 14:55] #367 closed

[2017-12-03 14:56] #370 closed

[2017-12-03 14:57] galexv commented on #370
Continued in issue #399

[2017-12-03 15:02] #322 closed

[2017-12-03 15:08] galexv commented on #378
The corresponding tests are removed.
It is possible now to check for equality of dictionary values as:
[code]
but only if types match exactly. This functionality may be improved as a side-effect of refactoring according to comments on the PR #363 , but for now just do explicit conversion:
[code]
Closing this issue for now.

[2017-12-03 15:08] #378 closed

[2017-12-03 23:20] mwallerb opened #404 "[ALEA] Remove uninitialized state."
As per discussion in #357

[2017-12-04 16:36] egull commented on #390
Hi @yurivict ,
we don't have the capability to test FreeBSD. Would you be able to provide a patch for us?

[2017-12-04 16:37] #362 closed

[2017-12-04 23:25] krivenko opened #405 "[params] help_requested() always returns false if no description is present"
https://github.com/ALPSCore/ALPSCore/blob/678a1d86eaa1db5676ea124f53c884ec6c0f866b/params/include/alps/params.hpp#L211

Why does one need to first call `description()` before using `help_requested()`?
Even if there is no description string attached to the `params` object, it still makes sense to print descriptions of the options.

[2017-12-05 15:57] galexv commented on #405
Hmm, the intention here was that if `description()` has not been called, the user does not want to have `--help` option defined (as we once discussed). And if the option is not defined, the help cannot be requested.
But i see that user can anyway assign `p["help"]=true` to force "help request", and, moreover, it's useful to have a method `print_help(std::ostream&)` to get help with option descript

[2017-12-05 21:11] mwallerb opened #406 "`params_bcast_mpi` fails when `MPI_Size() > 1`"
Output `mpirun -np 2 ./params/test/params_bcast_mpi`:
[code]

[2017-12-06 22:52] #406 closed

[2017-12-06 22:53] galexv commented on #406
The problem was in testing. :-/

[2017-12-07 14:54] galexv commented on #290
As we move away from the current accumulator library, this issue is not that relevant: it apparently pops up only with HDF5 1.10+ _and_ `long double` _or_ `custom_type`. None of those are actually used, Closing this for now.
Cross reference: issue #356

[2017-12-07 14:54] #290 closed

[2017-12-07 16:21] iskakoff opened #407 "Mesh MPI bugs"
I have question. In all greens function mesh classes during broadcast we check that mesh is not empty.
But from my point of view, this does not make any sense for any process except the root one.

That is the whole point of broadcast, as far as I understand it. We do some work on root, like init GF, assign meshes and what ever, and then we broadcast it to everyone.

What was the reason in current

[2017-12-07 16:46] egull commented on #407
Yes, I think this is legacy code. At the time I think we didn't even broadcast the meshes and you had to provide initialized meshes with the right size.

[2017-12-07 16:52] galexv commented on #407
I believe the reason was that initially meshes were not default-constructible; when def ctor was added, the checks verifying mesh validity were simply added everywhere, and then removed where they are not necessary. Apparently, the latter did not happen in all places. :)

[2017-12-07 17:02] #405 closed

[2017-12-07 17:04] #377 closed

[2017-12-07 18:44] galexv commented on #388
@yurivict  I am enable to reproduce the failure of `mpi_utils_env_exceptions1` on Linux with OpenMPI 3.0.0.
Could you please run the test executable separately and send the result? Something like this:
[code]

[2017-12-07 18:50] galexv commented on #335
@pbakalov I am unable to reproduce the error on systems available here (we don't have Ubuntu 12). Could you please tell the version of MPI you were using?  You can get it by running `mpiexec --version`. Thanks!

[2017-12-07 23:46] iskakoff commented on #407
Here is a list of thing that I will fix:
1. Matsubara Mesh does not broadcast statistic
2. Matsubara Mesh does not check for positivity of the mesh during broadcast
3. Matsubara Mesh offset is not broadcasted
4. Matsubara Mesh offset is never updated (even during read from hdf5, that will lead to wrong behaviour for default constructed mesh)

[2017-12-08 17:31] iskakoff commented on #407
fixed in #408

[2017-12-08 17:31] #407 closed

[2017-12-08 19:31] galexv commented on #314
The issue is not there with Boost 1.65.1

[2017-12-08 19:49] galexv commented on #314
Going to get rid of ublas in the code.

[2017-12-11 01:28] #314 closed

[2017-12-11 14:50] galexv commented on #348
This is likely the file locking problem, as described in several places, e.g. https://lists.hdfgroup.org/pipermail/hdf-forum_lists.hdfgroup.org/2016-May/009480.html
I am testing if 1.10.1 version fixed it for us...

[2017-12-11 16:06] galexv opened #409 "Fails to compile with Intel 18.0"
Detected on Cray (cori.nersc.gov) with the default Intel build environment.

[2017-12-11 17:52] galexv commented on #409
Confirmed on Flux with Intel 17.0.1
Looks like `boost::mpl::push_front` does not work with `mpl::vector`s (although works with `mpl::list`s) which is strange because both sequences are supposed to be [front-extensible](http://www.boost.org/doc/libs/1_61_0/libs/mpl/doc/refmanual/front-extensible-sequence.html#models).

[2017-12-11 18:42] galexv commented on #409
Fixed by commit a838546

[2017-12-11 18:42] #409 closed

[2017-12-11 19:31] galexv commented on #348
It is actually HDF5 bug, and there is a [workaround published](https://support.hdfgroup.org/ftp/HDF5/current/src/unpacked/release_docs/RELEASE.txt) by the HDF5 group. You need to use the updated HDF5 1.10.1; on Cori:
[code]
and then set environment variable:
[code]
Then the test passes.

Closing this issue now; although this behavior should be documented.

[2017-12-11 19:31] #348 closed

[2017-12-11 19:35] galexv opened #410 "Document peculiar behavior of HDF5 1.10.1 on Lustre"
This is related to issue #348. According to [error reports](https://lists.hdfgroup.org/pipermail/hdf-forum_lists.hdfgroup.org/2016-May/009480.html), HDF5 1.10+ does not work well with certain filesystems, in particular Lustre on NERSC's Cori. For HDF5 1.10.1 there is a [workaround](https://support.hdfgroup.org/ftp/HDF5/current/src/unpacked/release_docs/RELEASE.txt) published by HDF5 group.
This be

[2017-12-11 21:24] egull commented on #295
OK, given this discussion I'll remove the 'bug' and 'ongoing' labels (we fixed this in PR #380) and assign it to Markus, who can take over for the new ALEA.

[2017-12-11 21:41] egull commented on #313
I tried to run this on ibm with xlc, running into problems with boost PP right at the start of the compilation (file utilities/src/gtest_par_xml_output.cpp). Just to confirm that these problems didn't go away in the mean time.

[2017-12-11 22:36] galexv commented on #313
That particular problem is documented as issue #312

[2017-12-13 18:15] DalInar opened #411 "[params] Integer Arguments in Parameter File Not Cast to Boolean"
While testing the charge order solver on Comet, I ran into this error at runtime:

`Key 'dca.CO_SELFCONSISTENCY': Attempt to read uninitialized value`

The issue was fixed by changing the parameter file from
`CO_SELFCONSISTENCY = 1`
to
`CO_SELFCONSISTENCY = true`

So it seems that integer arguments in the parameter file are not being properly cast into boolean arguments.

This was with master bran

[2017-12-13 23:04] galexv commented on #304
@iskakoff Sergey, if you are anyway fixing GFs, are you able to address this issue also? (Otherwise it can be postponed till the new GFs are stabilized a bit)

[2017-12-15 07:58] galexv commented on #301
After some research...

1. I introduced a CMake flag `ALPS_CXX_STD` which can be set to `c++03` or `c++11` (only). The default is currently `c++03`.
2. The flag causes ALPSCore to be built using the corresponding c++ standard setting flags of the compiler. To be more technical, `-DALPS_CXX_STD=c++11` requests `auto` and `constexpr` features that require setting the compiler flags to enable C++11.

[2017-12-15 08:12] galexv commented on #301
One more thought. [In the case of GCC](https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html), `std::string` ABI choice is orthogonal to the choice of C++ standard *within the same version of the compiler* (which we now enforce). The Boost problems we saw earlier were caused by Boost having being compiled with an older version of compiler with the "old" ABI; this is now taken care by

[2017-12-15 10:55] shinaoka commented on #301
Do you mean that the ALPSCore and client code can be compiled with different C++ standards if the both are linked to the same C++ std library?

It'd be nice to have c++14 for ALPS_CXX_STD.

[2017-12-15 17:14] kleinhenz opened #413 "[cmake] libiniparser not exported"
On the current master, setting `ALPS_BUILD_TYPE="static"` causes a cmake error:

`CMake Error: install(EXPORT "alps-params" ...) includes target "alps-params" which requires target "libiniparser" that is not in the export set.`

It seems that `target_link_libraries(${PROJECT_NAME} PRIVATE libiniparser)` only affects transitive usage requirements and does not actually merge `libiniparser` into `alp

[2017-12-15 19:39] kleinhenz commented on #301
Does it make sense to provide c++03 as an option (especially as a default) now that a lot of new c++11 only code is being introduced? Do we intend to actively support c++03 with a bunch of ifdefs going forward? I'm not sure that this is worth it if almost half of the library (gf and alea) won't be usable in c++03 mode. Legacy c++03 codes should probably just depend on a legacy version of ALPSCore.

[2017-12-15 19:41] galexv commented on #301
@kleinhenz Once we merge c++11 branch in, the support for c++03 will be removed.

[2017-12-18 03:51] shinaoka opened #414 "[params] Backward compatibility of subsubsections"
After playing around with the latest version in master branch,
I've found several problems.

An example is in https://github.com/shinaoka/alpscore-bug/tree/master/ini_params_hierarchical.

You may run the example like this:
[code]

After all, there are two problems.
The new library does not understand

[code]

This style worked for the old library and is popular for CT-HYB users (since the tutoria

[2017-12-18 22:05] shinaoka commented on #301
I am now testing this new feature for my some project using c++14 (gcc5.4).
The client code must be compiled with c++14 (to be consistent with TRIQS libraries).
The new feature enforces the client code to be compiled with c++11 (when ALPSCore is built with c++11).
This causes problems.

Let me update my wish list (or my to-do list?)

- c++14 support for ALPS_CXX_STD
- It is better to be able to se

[2017-12-18 22:15] galexv commented on #301
@shinaoka Thanks for the "wishlist", I am working on this.

[2017-12-20 20:58] #411 closed

[2017-12-21 14:32] galexv commented on #413
I believe i solved this particular issue, but i cannot hammer anything into compiling statically with ALPSCore on my laptop, so i cannot verify yet. Working on it...

[2017-12-21 16:13] galexv commented on #413
It looks like:
1. Problem with a static linking on some systems is a separate issue
2. The solution for libiniparser does not work in CMake 3.1 because of a misfeature that was quietly fixed later (do not see anything relevant in changelogs, but it works in 3.5.1). I will work around it.

[2017-12-21 17:31] galexv commented on #413
@kleinhenz Could you check if it works for you now?

[2017-12-21 17:56] #399 closed

[2017-12-21 18:01] kleinhenz commented on #413
yeah that fixed it for me. thanks!

[2017-12-21 18:09] galexv commented on #413
My pleasure. :) Closing now.

[2017-12-21 18:09] #413 closed

[2017-12-21 19:57] galexv commented on #414
The root of the problem is that iniparser library assumes that section names do not contain dots.
That's why it:
1.  does not recognize keys in section `[section.with_dot]` (because it does not appear in the list of sections)
2. fails if there is also a section `[section]` (because it has a key `section.with_dot`, but this key does not have an associated value, it is `NULL`)

We are actually going

[2017-12-21 22:07] shinaoka commented on #414
Thank you.
Throwing an exception may be enough for the moment because we're going to switch to C++11.

BTW, is there any way to check if an "undefined" key exists in an ini file?
For example, if we define the key "N_MATSUBARA" in our client code,
an user may write "NMATSUBARA" in an ini file mistakenly.
I want to detect such mistake in my client code.

[2017-12-21 22:20] iskakoff commented on #414
@shinaoka in old params there was a method "exists" which can be used to check this.
It seems it disappears in new params

[2017-12-21 23:35] galexv commented on #414
@shinaoka  @iskakoff Actually, the method is alive and well, it's in the parent `dictionary` class; i am not sure, though, that it is what Hiroshi needs.

The relevant methods may be `exists()`, `has_missing()`, `has_unused()`, and `supplied()`; my guess is `supplied()` is the closest to what is wanted?

[code]

[2017-12-21 23:37] shinaoka commented on #414
Thanks!
has_unused() seems to be the right one.

[2017-12-22 16:34] #414 closed

[2017-12-22 16:59] galexv commented on #414
@shinaoka Hiroshi, could you please verify that the fix works for you?

[2017-12-22 17:33] galexv commented on #301
@shianoka If CMake version >= 3.1, the "right" way to do is to call `target_compile_features()` on the relevant targets with appropriate feature list. For example, `target_compile_features(my_library PUBLIC "cxx_decltype_auto")` requests that target `my_library` uses `decltype(auto)` language feature and that any dependent targets should use it too (hence, `PUBLIC`). This feature implies C++14, an

[2017-12-23 06:13] galexv commented on #301
ALPSCore can be build with `-DALPS_CXX_STD` set to `c++03`, `c++11`, `c++14` and `custom`.

Setting `-DALPS_CXX_STD=custom` will prevent requesting any compiler features; the C++ standard will be set by compiler flags only, and a client code C++ standard will have to be set manually.

Client may define, before `find_package(ALPSCore)`:

1) `set(ALPS_FORCE_CXX_STD ${std})`
                to reques

[2017-12-23 06:53] #387 closed

[2017-12-24 07:07] iskakoff opened #415 "GF arithmetic operations"
I have question.

The current version of the Green's functions implements arithmetic operations for GF with tail in such a way, that the resulting GF object will not contain tail anymore. Is it a proper behaviour?

[2017-12-24 10:08] shinaoka commented on #301
Thank you for your work!
That seems to address my requirements.
I will test the new code with the CT-HYB code.

[2017-12-25 13:41] egull commented on #415
That's definitely a bug. @galexv, do you concur?

[2017-12-25 13:58] galexv commented on #415
Looks like a bug.
Is the expected behavior to do the corresponding operation on the tails coefficients? (Providing that the trails are of the same type)

[2017-12-25 13:59] egull commented on #415
Yes. That is what makes sense mathematically.

[2017-12-25 18:10] krivenko commented on #415
@iskakoff
I'd call it a misfeature.
Anyhow, if you decide to fix the tail operations, keep in mind that GF inversion would require tails that grow with the frequency.

[2018-01-02 19:29] galexv commented on #415
It is a misfeature, but i think that the bug is in the fact that the tail is dropped silently.

Do i understand correctly that inversion of a GF with a finite-length tail expansion (e.g., a single c_1 coefficient) would generally produce an infinite-length expansion, which does not necessarily have decreasing coefficients, and therefore we would not be able to cut it after a certain term?

What wo

[2018-01-02 19:54] galexv commented on #415
On a second thought, the only supported operations are:
1. Element-wise addition
2. Element-wise subtraction
3. Element-wise scaling
4. Element-wise negation
No multiplication or division (even element-wise), no non-linear operations. So, it seems to me that implementing the inversion of a tailed GF is a completely separate issue.

[2018-01-02 21:34] iskakoff commented on #415
@galexv Igor`s comment is related to c++11 gf, which now have inversion, and in principle I want to implement contraction.

[2018-01-04 18:31] galexv commented on #389
@yurivict I cannot reproduce this behavior on my Linux box with CMake 3.1 and gcc 5.4. Default CMake flags for `CMAKE_BUILD_TYPE=Release` already include '-DNDEBUG', and ALPSCore's cmake script just adds `-DBOOST_DISABLE_ASSERTS`. I do not observe any warnings regarding potentially slow code.

That's said, FreeBSD and Ubuntu Linux default CMake settings might differ. Although it's easy to patch th

[2018-01-04 18:37] galexv commented on #324
This is addressed in the new parameters library (it accepts both no-dash and single-dash arguments in the form of `key=value`).

[2018-01-04 18:37] #324 closed

[2018-01-04 18:40] galexv commented on #214
Addressed in the new parameters library: redefinition of parameters is allowed as long as the type is the same.

[2018-01-04 18:40] #214 closed

[2018-01-04 18:41] galexv commented on #187
A separate dictionary class is implemented in the new parameters library (although it's not abstract; it might become one in the future).

[2018-01-04 18:41] #187 closed

[2018-01-04 18:44] galexv commented on #151
Addressed in the new parameter library, see issue #377 and commit
f74dd84.

[2018-01-04 18:44] #151 closed

[2018-01-05 01:15] egull commented on #143
Alex, I think we're done with this... close?

[2018-01-05 01:19] galexv commented on #143
Help message does look better now, so probably ok to close.

[2018-01-05 01:19] #143 closed

[2018-01-05 16:57] iskakoff opened #416 "alps::param constructor"
What is the reason to have `const char* const* argv` instead of `char** argv` in constructor

    params(int argc, const char* const* argv, const char* hdf5_path="/parameters")

Because the most usual place to use this constructor is in the main function, and you need to do cast, since the main function signature comes without any `const` modifier.

[2018-01-05 17:11] galexv commented on #416
I don't think there is any problem with this. The following code:
[code]
compiles without any warning (`g++ -Wall -std=c++11 -pedantic -o params_const_ctor.x params_const_ctor.cxx`) and works correctly.

Actually you don't. Non-const pointer is cast to const-pointer implicitly.
There is usually some confusion there (addressed by [C++ FAQ](https://isocpp.org/wiki/faq/const-correctness#constptrptr-c

[2018-01-08 05:24] shinaoka commented on #301
This new functionality works well for the CT-HYB code.
Shall we close this issue?

[2018-01-08 15:02] galexv commented on #301
Thanks for testing it! Closing.

[2018-01-08 15:02] #301 closed

[2018-01-09 20:40] iskakoff opened #417 "hdf5_real_complex_vec.cpp"
In addition to #356 .  What is the purpose of this test hdf5_real_complex_vec?

In it's body it compares two vectors it saved and loaded but then if any alps::hdf5 exceptions thrown it perfectly passes because "Test passed because Exception was thrown."

I think it either should check that read/write is correct or if the method throws exception.

[2018-01-10 18:10] #416 closed

[2018-01-11 03:01] iskakoff opened #418 "Matsubara positive-negative mesh"
Has anyone tested matsubara_pn_mesh? It seems it has points that are inconsistent with mesh positivity. The compute_points method will define points as:

      for(int i=0;i<nfreq_;++i){
            points_[i]=(2*i+statistics_)*M_PI/beta_;
      }

which always be positive.

The next problem, `offset_` is equal to `nfreq_`, and `operator()` defined as:

        int operator()(index_type idx) const

[2018-01-11 17:36] #404 closed

[2018-01-11 17:36] #37 closed

[2018-01-11 17:36] #157 closed

[2018-01-11 17:36] #260 closed

[2018-01-11 17:36] #295 closed

[2018-01-11 17:36] #302 closed

[2018-01-11 17:36] #317 closed

[2018-01-11 17:59] galexv opened #419 "Remove warnings about low performance with -DCMAKE_BUILD_TYPE=Debug"
Requested by Markus (@mwallerb): when developer is doing a debug build, he/she is aware that performance will be low. The warning makes sense only for the client's code.
Cf #389.

[2018-01-11 18:03] galexv opened #420 "Expose underlying HDF5 handle from an archive object"
Suggested by Markus(@mwallerb). Current `archive` implementation does not provide full HDF5 functionality, but an (expert) user may need it. Similar to exposing MPI communicator from `alps::mpi`, we should expose relevant HDF5 handles.

[2018-01-11 18:05] galexv commented on #393
Addressed by commit c3c452ea839b85023ba48c82b7c577da282b7ca6

[2018-01-11 18:05] #393 closed

[2018-01-11 19:14] #419 closed

[2018-01-11 20:04] galexv opened #421 "Make `dictionary` stream-out operator generate a valid INI file, optionally"
This seems to be an expected feature (see "terse printing" patch
https://github.com/ALPSCore/ALPSCore/commit/a2c7f8600b407cb1ac1fee8bb4ba51c4c4ddd79a).

However, it's also convenient for testing to have stream-out operator print the full internal state of the dictionary or parameter (e.g., it will be printed automatically if `EXPECT_EQ(p1,p2)` fails).

I'd suggest to have a possibility of switchin

[2018-01-11 20:16] galexv opened #422 "C++11 related enhancements"
Take advantage of C++11 features where practical.

(I tried to mark them as `FIXME:C++11` or the like when i stumbled upon them while coding, but not very consistently).

[2018-01-11 20:23] galexv opened #423 "[params] Get rid of libiniparser"
Possibly, replace it with parsing via regular expressions.
See  https://github.com/ALPSCore/ALPSCore/issues/368#issuecomment-343502847
See https://github.com/ALPSCore/ALPSCore/pull/363#issuecomment-343536848

[2018-01-11 20:26] galexv commented on #325
Right now, the message looks like this:
[code]
which is, imho, clear enough.
This issue should be looked at again when we address #423

[2018-01-14 13:48] ryanlevy opened #424 "CMake compiler string changes based on CMake minimum requirement"
Consider the following `CMakeLists.txt`
[code]
Using CMake 3.1 (or 3.8) and a `clang/clang++` compiled ALPSCore I get the following error:
[code]
However once `cmake_minimum_required (VERSION 3.1)` is set, it works fine. This just requires package users to continue to update their version based on the ALPSCore version.

See also: [cmake policy](https://cmake.org/cmake/help/v3.0/policy/CMP0025.html

[2018-01-15 19:39] ryanlevy opened #427 "ALPSCore_DIR environment variable issues"
As started in PR #425, `ALPSCore_DIR=$root` doesn't seem to do the trick for allowing it to install.
Setup:
[code]

`~/modules/ALPSCore/clang/build/share/ALPSCore` is where `ALPSCoreConfig.cmake` lives

[code]

Files:
[CMakeCache_ALPSCore.txt](https://github.com/ALPSCore/ALPSCore/files/1632819/CMakeCache_ALPSCore.txt)
[CMakeCache_ini_params.txt](https://github.com/ALPSCore/ALPSCore/files/1632822/C

[2018-01-15 23:13] mwallerb commented on #421
Alternatively, this can be done with a free/member function, e.g.:

    void alps::params::dump(std::ostream &, size_t flags) const;

Getting custom I/O manipulators right is quite a bit of work, because the `std::ios_base` extension mechanism through `xalloc()` and `*word()` is pretty strange IMHO, and, for C++<14, not guaranteed to be thread-safe IIRC.

[2018-01-17 16:33] mwallerb commented on #415
Umm, this is I think difficult, because the inverse of a power tail of the form:

     sum[n,-N,-1] A[n] / iw**n

cannot be mapped on a finite tail for more than one coefficient . . . so you would have to introduce another tail type for the inversion.

[2018-01-17 17:30] galexv commented on #230
Shall we close this as "wontfix"? The new `Alea` must be free from this problem (and if not, it's a separate issue).

[2018-01-17 17:40] galexv commented on #279
Apparently it is now possible to default-construct a GF object and then load into it from HDF5, without constructing grids first.

[2018-01-17 17:40] #279 closed

[2018-01-17 20:05] #230 closed

[2018-01-22 19:00] galexv commented on #372
@krivenko @jgreitemann Could you please check if the fix works for you?

[2018-01-22 23:02] jgreitemann commented on #372
Yes, this fixes it and renders the workaround I mentioned above superfluous.

[2018-01-22 23:22] krivenko commented on #372
@galexv Thank you for the fix, Alex!

I cannot neither confirm nor refute its correctness, because this issue made us stop using `accumulator_set` back in November. Moreover, we plan to switch to ALEA in the next few days...

Even though this is no longer relevant to our work, would you expect `std::mutex` to play along with a different multi-threading library, such as HPX?

[2018-01-23 14:49] mwallerb opened #429 "[alea] weighted variance/standard error is wrong"
This particularly hits `autocorr_acc` and `batch_acc`, since these are the ones that use this facility.

[2018-01-23 16:17] galexv commented on #372
I am aware that we are changing to Alea anyway, that's why i tried to get away with minimal changes.

After looking here and there, including Compiler Explorer: C++ mutex is apparently [`pthread_mutex_t`](https://linux.die.net/man/3/pthread_mutex_init) under x86_64 Linux, and should work with any multithreading library based on pthreads. E.g., OpenMP is apparently implemented via pthreads (by gcc

[2018-01-23 22:32] krivenko commented on #372
We had a brief discussion with Joe @kleinhenz and came to a conclusion that pthread locking should be compatible with HPX scheduling mechanism.

[2018-01-23 22:32] #372 closed

[2018-01-23 23:29] krivenko opened #431 "[alea] Stream insertion (printing) for result types"
Hi Markus,

Could you please consider adding `operator<<` to `alps::alea::var_result` and the likes?
It might be of use for debugging.

Thanks in advance!

[2018-01-25 15:39] #429 closed

[2018-01-30 07:47] yurivict opened #435 "hdf5_io_types nevr finishes on FreeBSD"
In the FreeBSD port, version 2.1.1, ```hdf5_io_types``` runs for 10 mins and doesn't finish.

This causes QA suit to get stuck, and never finish.

[2018-01-30 07:52] #435 closed

[2018-01-30 10:42] yurivict commented on #388
Now, with the version 2.1.1, 2 testcases fail:
[code]

Here is the output of ```./mpi_utils_env_exceptions1```:
[code]

[2018-01-30 11:51] jgreitemann opened #436 "Overriding parameters when restarting from clone?"
Hi,
I just updated to the latest ALPSCore master and was surprised to find that it is apparently no longer supported to override parameters via command line arguments when restoring from an hdf5 archive? As far as I can tell, the relevant changes have been introduced [here](https://github.com/ALPSCore/ALPSCore/commit/b1d48f373882d084d32f31466e611aeba10facfd#diff-3276e6c2e18a491d51b5cc05704fa614R10

[2018-01-30 15:49] galexv commented on #436
@jgreitemann Thanks for the report, I will fix this.

[2018-01-30 23:04] katherlee opened #437 "HDF5 write does not support complex type."
The member function `alps::hdf5::archive::write<T>` does not support `T=std::complex<double>`. This conflicts with `alps::alea::serializer`.

[2018-01-30 23:17] mwallerb opened #438 "[alea] make `serialize` free function"
As reported by @krivenko , otherwise we run into problems with HPX because of this bug:
https://github.com/STEllAR-GROUP/hpx/issues/3134

[2018-01-31 00:53] katherlee opened #440 "[alea] `autocorr_result` can fail to reduce when count is different between threads"
This would cause the result to have different number of levels, and one can get a `MPI_ERR_TRUNCATE` or stuff.

[2018-01-31 00:58] #437 closed

[2018-01-31 00:58] #438 closed

[2018-01-31 16:37] iskakoff opened #443 "ALPSCore Master does not compile in DEBUG mode"
When I try to build ALPSCore in debug mode I get the following compile-time error:

      Linking CXX executable params_origins
      .......
      Undefined symbols for architecture x86_64:
        "std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> >::c_str() const", referenced from:
            arg_holder::argv() in params_origins.cpp.o
      ld: symbol(s) not f

[2018-01-31 17:10] iskakoff opened #444 "Unexpected behaviour in compiler check"
When I have project with specified cmake_minimum_required(VERSION 2.8.12) compiler check failed on Mac:

    ALPSCore C++ compiler ID: AppleClang
    ALPSCore C++ compiler version: 7.0.2.7000181
    Current C++ compiler ID: Clang
    Current C++ compiler version: 7.0.2.7000181
    Current C++ compiler:    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++

[2018-01-31 17:13] galexv commented on #444
Duplicate of #424

[2018-02-02 04:08] krivenko opened #448 "Request to provide the old GF along with the new one"
Sorry Sergei @iskakoff, but that was a premature move.

When I approved #408 back in December I saw both versions of GF (old and new) in the source code. So I thought the old GF would be deemed deprecated and kept in the sources for some time. Now I realize that the old GF was completely removed by 0344cfdb3d6b82dcf7bee5cf08682fc451d5b8ae, days after my approval.

There are three branches being ac

[2018-02-02 04:25] galexv commented on #448
Hmm, i thought it is interface-compatible...

This is probably not so hard to bring back (Sergey @iskakoff, am i correct?)
But wouldn't it be possible just pull the commit right before the merge and use it for inchworm development, for the time being?

This is a good point. This policy is not yet set up properly (something to discuss during the meeting).
Probably we should increase the minor versi

[2018-02-02 04:28] galexv commented on #448
I suggest changing the issue title to something like "Request to provide the old GF along with the new one".

[2018-02-02 04:58] krivenko commented on #448
Not quite.
Well, the internal storage type is different, which means that at least `data()` method is affected.
There are also some issues to be fixed in the new GF.

For this very purpose I already pushed a tag named `last_old_gf`.
But this is a mess again, because now I have to maintain two ALSPCore installations.

Anyhow, my main point here is that removing features without first deprecating th

[2018-02-02 05:08] krivenko commented on #448
Now I realize that sticking to a fixed release of ALPSCore makes more sense than trying to follow `master`...

[2018-02-02 14:51] galexv commented on #427
This may happen if the installation directory is the same as the build directory. I am looking at it now...

[2018-02-02 18:22] iskakoff opened #450 "[ALPSCore] [alea] [alps-gf-c++11] can't compile with intel 15"
Intel 15 on Mac is too stupid to properly understand c++11 templates features

[2018-02-02 19:38] galexv opened #451 "ALPSCore cannot download Eigen3"
...if CMake is compiled without SSL support.

Then user has to download Eigen3 themselves (then *clear the cache* and use `-DALPS_EIGEN_TGZ_FILE=$PWD/3.3.4.tar.gz`) .

We should implement workarounds: try git, try hg, try wget, try curl.

[2018-02-02 19:47] galexv opened #452 "Cannot determine compiler features when building on Flux with Intel."
[code]
Error:

  "Intel"
   version 17.0.1.20161005.

The same error is there for Intel 14.

[2018-02-02 23:02] #448 closed

[2018-02-03 00:22] krivenko commented on #448
I am done with porting.
If you feel like re-adding the old gf, go ahead and reopen this issue.

[2018-02-04 15:29] iskakoff opened #453 "[ALPSCore] [alps-gf-c++11] can't compile with gcc 4.7.2"
gcc-4.7.2 can't construct std::array using list initialization.

[2018-02-04 15:36] #443 closed

[2018-02-04 17:26] krivenko commented on #453
Strictly speaking, gcc 4.7 is not C++11-conformant.

https://gcc.gnu.org/gcc-4.8/cxx0x_status.html
[code]
In practice, I would not recommend to use anything older than gcc 4.8.4, which had most of major c++11 bugs ironed out.

[2018-02-04 17:49] iskakoff commented on #453
@krivenko yes, but Emanuel has fedora 17 build server for some reason, and it has gcc-4.7.2. So far it was the only issue, I guess

[2018-02-04 21:55] ryanlevy commented on #427
For me, the above still remains true if I move to a build directory and run `cmake ..` from there

[2018-02-04 22:00] egull commented on #427
I can confirm that – I have the same problem...

[2018-02-04 22:50] iskakoff commented on #453
fixed by #454

[2018-02-04 22:50] #453 closed

[2018-02-04 22:50] iskakoff commented on #450
fixed by #454

[2018-02-04 22:50] #450 closed

[2018-02-04 22:52] iskakoff commented on #418
For me it seems fixed by #408

[2018-02-04 22:52] #418 closed

[2018-02-05 18:41] galexv commented on #427
I can consistently reproduce it if my `CMAKE_INSTALL_PREFIX` is the same as the ALPSCore build directory. Therefore, a workaround for now is to install into some other directory (e.g., a subdirectory of `build/`), such as:
[code]

[2018-02-05 18:57] galexv commented on #427
The problem is that there is a "stray" `ALPSCoreConfig.cmake` in the build directory (which is copied to its proper location by `make install`) which contains paths that are relative to the its final location, not to the build directory. `find_package(ALPSCore ...)` picks up this stray file, and naturally cannot find any components in the expected places.
Again, workaround, till i fix this: do not

[2018-02-05 19:05] egull commented on #427
I don't think you're on the right path. I'll show you an installation tomorrow that has this problem.

[2018-02-05 19:23] galexv commented on #427
Just to clarify: it's not about the location of the build directory, it's about the location of the `${CMAKE_INSTALL_PREFIX}` directory, or, more precisely, about the environment variable `ALPSCore_DIR` that, during the build of a dependent project, is pointing to a directory that contains out-of-place `ALPSCoreConfig.cmake` (such as ALPSCore build directory).

There may be other problems too, but

[2018-02-06 01:35] ryanlevy commented on #427
Once I deleted the `ALPSCoreConfig.cmake` from the build directory, the PR seems to have worked! On the other hand, I'm fine if the correct set of steps is having both an install and a build directory, it just isn't explicitly in the install wiki so I never noticed.

Also for future bug readers, in the [Jenkins build script](https://github.com/ALPSCore/ALPSCore/blob/master/common/build/build.jenki

[2018-02-06 12:46] egull commented on #427
Indeed, this looks like two different problems. I propose we merge this PR because it fixes Ryan's problems, and I'll open a new bug with my problem which seems to be different.

[2018-02-06 14:57] galexv commented on #427
Closed by PR #455

[2018-02-06 14:57] #427 closed

[2018-02-08 15:04] egull commented on #304
Sergey, I assigned this to you. Can you check if you want to do anything with it, or if you're happy with what we have?

[2018-02-08 15:05] egull commented on #278
Another interface problem. Sergey, can you have a look at it and check?

[2018-02-08 15:06] egull commented on #226
Sergey, another one for you to have a look at.

[2018-02-08 15:07] egull commented on #257
...for next time we go through the meshes...

[2018-02-08 15:08] egull commented on #210
Won't test extensively because we have new accumulators.

[2018-02-08 15:08] #210 closed

[2018-02-08 15:09] egull commented on #305
@mwallerb, is this addressed in alea?

[2018-02-08 15:10] egull commented on #61
@mwallerb can this be closed because Alea has corresponding functionality that works?

[2018-02-08 15:15] egull commented on #335
@pbakalov Can you give more information on this? Do things work for you now? We can't reproduce them here.

[2018-02-08 15:16] egull commented on #389
This is fixed.

[2018-02-08 15:16] #389 closed

[2018-02-08 15:17] egull commented on #132
I think this works now.

[2018-02-08 15:17] #132 closed

[2018-02-08 15:18] egull commented on #313
Jia, you're on Conflux... could you please have a look if this works with xlc and give a progress report?

[2018-02-08 15:20] egull commented on #390
Can't fix this without more info. Please reopen once we have more info.

[2018-02-08 15:20] #390 closed

[2018-02-08 15:20] katherlee commented on #313
Sure, I'll take a look.

On Thu, Feb 8, 2018 at 10:18 AM Emanuel Gull <notifications@github.com>
wrote:

[2018-02-08 15:21] egull commented on #212
outdated with alea, wontfix

[2018-02-08 15:22] iskakoff commented on #304
@egull I am not happy, but it can break backward compatibility

[2018-02-08 15:23] egull commented on #344
should be put as a hint into developer docs

[2018-02-08 15:24] egull commented on #229
wontfix.

[2018-02-08 15:24] #229 closed

[2018-02-08 15:29] egull commented on #304
@mwallerb do you have an idea of how to fix it without breaking the interface? We can't really have 20+ codes do a rewrite...

[2018-02-08 15:31] mwallerb commented on #61
No, not yet. "Merging" accumulators is IMHO a little bit of a misnomer, since it means adding the accumulated values of one accumulator to another.  After discussion with @kleinhenz and @krivenko, who need this, I'm working on implementing the following:

    mean_acc<T> &mean_acc<T>::operator<<(const mean_result<T> &);

[2018-02-08 15:37] mwallerb commented on #305
Fixed by: #412

[2018-02-08 15:37] #305 closed

[2018-02-08 15:38] mwallerb commented on #304
Stage 1 solution: add docs.
Stage 2 solution: add docs + provide helper for this:

    iw_mesh.points()[iw_index()]

[2018-02-08 15:40] mwallerb commented on #278
I think @iskakoff 's slicing notation might fix that, right?

[2018-02-08 15:57] iskakoff commented on #304
@mwallerb Stage 3: Profit!

[2018-02-08 16:24] katherlee commented on #313
I am getting the following error during CMake:
[code]

@galexv is there a quick fix I can get around it with?

[2018-02-08 16:33] katherlee commented on #313
From CMake documentation:

It looks like CMake doesn't know about any c++ compiler features of XL except for the meta-features like `cxx_std_11`.

[2018-02-08 17:30] galexv commented on #313
A quick workaround would be to configure ALPSCore with `-DALPS_CXX_STD=custom` and make sure that  the relevant C++-11 compiler options are set via `-DCMAKE_CXX_FLAGS`. The client code might also have to set `-DALPS_FORCE_CXX_STD=custom`.

Cross-reference: #452 .

[2018-02-08 17:50] galexv commented on #452
For the record: use of ["metafeatures"](https://cmake.org/cmake/help/v3.8/manual/cmake-compile-features.7.html#requiring-language-standards) may help here, but they are available only starting with CMake 3.8.

[2018-02-08 19:04] katherlee commented on #313
Thanks @galexv, it works. Now I get the following error related to Eigen:
[code]
This might be related to the vectorization options for XL on Power8, but I am not exactly sure. The following is my compiler flags:
``` -qlanglvl=extended0x -qnoxlcompatmacros -DNDEBUG -O2 -qmaxmem=-1  -qarch=pwr8```

[2018-02-10 02:10] krivenko commented on #212
No, it is not.

Accumulators are still a part of the library, and so are their unit tests.
I highly doubt that ALEA will replace the accumulators in all dependent codes any time soon, which means I'll have to waste minutes and hours staring at make's output.

[2018-02-10 02:33] egull commented on #212
Ok. Do you want to have a go at speeding it up? Alex doesn't have capacity for this and it hasn't been worked on for two years. How important is it for you?

[2018-02-10 02:58] galexv commented on #212
Lukas Gamper's (@gamperl) approach was, if i understand correctly, to use PIMPL idiom: instantiate necessary templates explicitly and use pointers to them in the client code. This way all the lengthy compilation can be done only once.

Also, there was a person (Ian George) recently interested with helping with ALPSCore: may this be a good project for him?

[2018-02-10 05:21] mwallerb commented on #212
@krivenko  IMHO the main problem with the accumulator library is the deep dependency chain.  Thus each accumulator *instantiation* pulls in a convoluted inheritance hierarchy and some HDF5, MPI and whatnot on top of it.  This is what makes the tests very slow.

If you really want to have a go at it (which would be extremely appreciated!), I would suggest the following course of action:

  1. Creat

[2018-02-10 18:10] egull commented on #212
OK. I'm stuck here. To make Igor happy we could:

1. Invest in fixing the accumulators. That's a non-trivial amount of work for a code that will not benefit anybody anymore, that's why this was closed.

2. Invest in a bridging layer (what @mwallerb suggests). That's also a lot of work, but it would allow us to get rid of accumulators soon, and old code can use the new functionality in a transparen

[2018-02-10 21:41] katherlee opened #457 "[ALEA] Transforming to a different type"
@mwallerb This might already be part of your plan for transformers: it would be good to allow a transformer to transform result from one type (e.g. `double`) to another (e.g. `std::complex<double>`). This would be especially helpful in the context of deferred NDFT.

[2018-02-10 22:08] galexv commented on #212
If the old accumulators are actually not *used* InchwormHPX but just stand in the way, i think it is straightforward to implement selected compilation/building of ALPSCore components.

[2018-02-10 22:17] galexv commented on #212
...and it may be  possible to decrease compilation time of accumulator tests: some of them use template based [type-parametrized Google Tests](https://github.com/google/googletest/blob/master/googletest/docs/AdvancedGuide.md#typed-tests). Preprocessor-based approach may compile faster.

[2018-02-13 03:00] krivenko commented on #212
I've begun refactoring the accumulators and the hdf5 library.

https://github.com/krivenko/ALPSCore/tree/CLEANUP

There are a few reasons why things compile so slowly. Here is a list, in order of importance.

1. Translation units are huge. `libalps-hdf5.so` is made of one cpp file. `libalps-accumulators.so
` contains code from three large translation units. This is a problem not only because compi

[2018-02-14 02:18] #61 closed

[2018-02-14 02:18] #431 closed

[2018-02-14 02:18] #440 closed

[2018-02-14 02:52] mwallerb commented on #212
@krivenko this is impressive work, congrats!

Also @egull, we should however still keep the alea bridge thing in the back of our heads, because the nice thing with that would be that alea gets a lot of unit tests in one go like that :-)

[2018-02-14 03:49] krivenko commented on #212
How many of those tests would be compatible with the simple bridge? Most of them look complicated and bound to `accumulator_set`/`result_set` interfaces.

[2018-02-14 04:13] krivenko commented on #212
@egull @mwallerb
I've just realized that the old accumulators support arbitrary data types of observables. One can define `ALPS_ACCUMULATOR_USER_TYPES` to augment the list of the 6 standard data types. There is even an extensive unit test for this feature called `custom_type`.

The price to pay for this feature is accumulators being an almost entirely header-only library.
May I assume that `ALPS_A

[2018-02-14 04:16] galexv commented on #212
@krivenko  Yes, i would say so.
It was a user request for matrix-like types, but i believe alea can handle the same problem differently. (@mwallerb is it correct?)

[2018-02-14 04:37] krivenko commented on #212
Okay, so the question is about reverting the solution to #157...

[2018-02-14 04:50] galexv opened #460 "[Documentation] Document selective component compilation"
As described by https://github.com/ALPSCore/ALPSCore/pull/458#issue-168672070

[2018-02-14 17:02] krivenko commented on #212
@egull What is your opinion on the user-defined types in accumulators? Is it okay to sacrifice this feature for faster compilation?

[2018-02-14 17:04] egull commented on #212
Yes it is

On Feb 14, 2018 12:03 PM, "Igor Krivenko" <notifications@github.com> wrote:

[2018-02-15 03:42] krivenko opened #462 "[ALEA] Inf/NaN in autocorr_acc result"
Division by zero occurs when `autocorr_acc` tries to normalize variance at the uppermost level.

https://github.com/ALPSCore/ALPSCore/pull/446#issuecomment-365810182

[code]
[code]

[2018-02-15 05:34] krivenko commented on #212
@galexv Dear Alex, could you please explain me what's the purpose of `/accumulators/include/alps/accumulators_.hpp`? This file seems to contain some preliminary effort at refactoring of the accumulators. Is it used somewhere?

[2018-02-15 15:03] galexv commented on #212
Yes, this is an effort by Lukas (@gamperl) to refactor the accumulator code (as was mentioned earlier in https://github.com/ALPSCore/ALPSCore/issues/212#issuecomment-364620993). Unfortunately, we never had enough man-hours to continue this. I do not think it is actually used anywhere except a single test file `accumulators/test/mean_wrapped.cpp` and the (preliminary) implementation code `accumulat

[2018-02-15 22:19] iskakoff commented on #452
the same issue on Cori

[2018-02-16 15:14] galexv commented on #452
@iskakoff Quick workaround is described at https://github.com/ALPSCore/ALPSCore/issues/313#issuecomment-364187513 (but i am working on a fix).

[2018-02-16 17:58] iskakoff commented on #452
@galexv I just revert to the commit where this issue does not exist.

[2018-02-19 15:23] galexv opened #465 "[params] Get rid of boost::mpl in alps::params"
As mentioned in https://github.com/ALPSCore/ALPSCore/pull/464#issue-169805783

[2018-02-19 20:01] egull opened #466 "Test fail of serializer_test on jenkins"
Jenkins reports a test failure for build 183:

https://alpscore.ci.cloudbees.com/job/alpscore_fedora17_boost-1.60.0_hdf5-1.8.13_openmpi-1.10.1_quickbuild/changes

the test failure seems to be for the stream_serializer test:
       Start 125: stream_serializer
125/126 Test #125: stream_serializer ........................***Failed    0.01 sec

which fails as:

Error Message

/scratch/jenkins/workspa

[2018-02-19 20:01] krivenko commented on #466
https://github.com/ALPSCore/ALPSCore/pull/446#issuecomment-366015295

[2018-02-19 20:44] krivenko commented on #466
Closing as a duplicate of #462.

[2018-02-19 20:44] #466 closed

[2018-02-20 15:27] jpfleblanc opened #467 "error in template? load std::vector<double>"
When compiling our inverter code (https://github.com/CQMP/inverter ) with updated alpscore, receive error:

`[ 13%] Building CXX object CMakeFiles/inverter.dir/mc_vertex.cpp.o
In file included from /home/jpfleblanc/alps_core/ALPSCore_updated/install/include/alps/params.hpp:11:0,
                 from /home/jpfleblanc/alps_core/update/inverter/vertexaux.h:17,
                 from /home/jpfleblanc/

[2018-02-20 15:39] galexv commented on #467
James (@jpfleblanc), could you please try to add `#include <alps/hdf5/vector.hpp>`  somewhere at https://github.com/CQMP/inverter/blob/master/mc_vertex.cpp#L4 and see if the error goes away?

[2018-02-21 21:02] krivenko opened #469 "[ALEA] How to multiply a result by a constant?"
I want to compute a linear transformation of an ALEA result, which is basically a multiplication by a (complex) constant. How do I do that?

Here is a list of things I'd rather not do.

1. Have the transformation Jacobian computed using the finite-difference approximation. Because I know the answer right away.
2. Specify the finite difference step 'dx' in the constructor of `linear_prop`. See poin

[2018-02-22 00:26] krivenko commented on #212
Should be fixed by #458 and #464.

[2018-02-22 03:27] krivenko opened #471 "[ALEA] Compilation failure with OpenMPI 1.6"
OpenMPI 1.6 declares the first argument of `MPI_Reduce` as `void*` while it should normally be `const void*` (contents of the send buffer is not supposed to be changed).
[code]

[2018-02-22 15:20] mwallerb commented on #469
Ad point 1+4: this screams premature optimization to me.   can you first check that this is in fact a bottleneck?

Ad point 3: you don't need jackknife here.

ad point 2: for a linear transform, dx does not matter.

[2018-02-22 15:30] mwallerb commented on #469
In other words, have you checked that a simple

     alea::transform(alea::linear_prop, [](double x) -> double { return 2*x; }, my_result);

is a slowdown? This would really, really surprise me.

[2018-02-22 16:35] mwallerb commented on #471
Yeah, that sucks. (Also: 1.6?! Hello, Marty McFly!)

Anybody a good idea shy of ugly preprocessor switches? (@krivenko?)

[2018-02-22 16:47] galexv commented on #471
Suggestion 1: Detect the version of OpenMPI (at CMake time), store it in `config.hpp`,  and do `const_cast` if the version is old. Also, hide this inside `alps::mpi`.
Suggestion 2: Refuse to accept OpenMPI 1.6 at CMake phase (because it's a "retired" version) and argue that since May 2012 one could as well update the MPI version. I like this option a little less.

[2018-02-22 16:47] krivenko commented on #471
That's what one gets with `libopenmpi-dev` package on Travis CI `trusty` image.

The old accumulators dealt with the problem in a bold way.
[code]
Emanuel @egull suggest the same approach here.
I don't have a personal preference.

[2018-02-22 17:23] krivenko commented on #469
Thank you, Markus.
I was completely overwhelmed by different overloads of `transform()` and different transformers...

It is, of course, not.
It just feels weird to have to compute that Jacobian for an essentially trivial transformation.

This is exactly the reason why I don't want to use it. :)

[2018-02-22 18:16] krivenko commented on #469
I still cannot figure this out...
[code]
does not compile (no suitable overload).

Should I use `make_transformer(std::function<T(T)> fn)` or `linear_transformer` instead of the lambda?

Another question is about the return type of `transform()`.
`my_result` is a `batch_result<std::complex<double>>`, whereas `transform(linear_prop p, const transformer<T> &tf, const InResult &in)` returns `cov_resu

[2018-02-22 18:29] krivenko commented on #469
And there is more...

In function `template <typename T, typename InResult>
typename std::enable_if<!traits<InResult>::HAVE_COV, cov_result<T>>::type transform(linear_prop p, const transformer<T> &tf, const InResult &in)`:
[code]
Will this even compile?

[2018-02-22 18:59] krivenko commented on #469
@mwallerb Alright, we need to meet on Monday and discuss these issues in detail. I may also have an idea on how to improve the transformation interface.

[2018-02-22 19:41] galexv opened #472 "Compilation failure when building without MPI"
Compilation without MPI fails in accumulators.

[code]

[2018-02-22 20:40] mwallerb commented on #469
Hmm it does not? Can you open an issue then? There should be a test for this somewhere ...

I have to admit the transform part is still a little sketchy.   My favourite solution would br something like expression templates. Lets discuss on Monday

[2018-02-23 17:59] #472 closed

[2018-02-23 18:16] iskakoff commented on #471
@mwallerb Since ALPSCore should be compatible with MPI-2.0 standard and `const` modifier for send buffers was introduced only since MPI-3.0, we need to have `const_cast`.

[2018-02-23 20:24] mwallerb commented on #462
Thinking some more about this, I think the bug is actually in `var_result::operator==`: two results with 1 element each should both have infinite variance and thus compare as equal even though `!(inf == inf)`

[2018-02-23 20:44] krivenko commented on #462
Okay, maybe it's a good idea to specifically test for variance being infinite, even though `inf == inf` on most platforms.
The real problem is caused by the NaNs, because `!(nan == nan)`. Those are not supposed to ever appear in any results, are they?

[2018-02-23 21:55] iskakoff commented on #471
fixed by pr #474

[2018-02-23 21:55] #471 closed

[2018-02-25 18:45] mwallerb commented on #469
Yes, because you have no guarantees that the transformation is in fact linear, `linear_prop` merely specifies that you shall, for the purpose of propagation of uncertainties, *assume* it to be linear.  This is might in fact be a bug.

Also, can you tone it down a little, please?

[2018-02-25 19:33] krivenko commented on #469
Thank you, I received answers to all my questions.

Edited my comment to make it less offensive.

[2018-02-25 19:33] #469 closed

[2018-02-26 16:24] galexv opened #479 "[TESTS] Underscores in test names are discouraged"
According to [GTest guidlines](https://github.com/google/googletest/blob/master/googletest/docs/FAQ.md#why-should-not-test-case-names-and-test-names-contain-underscore), test cases and test names should not contain underscores (basically, because GTest itself uses underscores as delimiters). Our tests contain them in many places. It is not urgent (nothing is getting broken by it right now) but sho

[2018-02-27 15:23] mwallerb commented on #375
Guys, can we please enable `-Wall` by default? -- I feel like for every warning I fix some new code introduces 2 new warnings.  I feel like a 21st century serious scientific code should compile more or less cleanly.

[2018-02-27 15:26] egull commented on #375
Wall does very different things on different compilers. We can enable it
for gcc and clang but please not for Intel!

On Feb 27, 2018 10:23 AM, "Markus Wallerberger" <notifications@github.com>
wrote:

[2018-02-27 15:28] galexv commented on #375
If it was my merge, i apologize.
I share the same feeling, but having `-Wall` by default does not always help by itself: unless all warnings are eliminated, it's not obvious that i now have. e.g., 11 warnings instead of 10 that was before my patch.

[2018-02-27 15:41] mwallerb commented on #375
@galexv that was more of a *weltschmerz* than directed at anybody, sorry if it came across as mean :-)
Anyway, you're probably right -- warnings are too uneven across compilers to enable all of them by default.

[2018-02-27 17:05] mwallerb opened #482 "[alea] Add tests for `operator==()`"
@galexv's comment on PR #477

[2018-02-27 17:45] #462 closed

[2018-02-27 17:48] egull commented on #467
@jpfleblanc any update?

[2018-02-27 18:02] mwallerb opened #483 "[ci] Eigen sometimes fails to downloaded in Travis build"
This is really strange, sometimes it works, sometimes it does not.

    CMake Error at common/cmake/ALPSEnableEigen.cmake:85 (message):
      Failed to download
      /home/travis/build/ALPSCore/ALPSCore/build/eigen/eigen.tgz from
      http://bitbucket.org/eigen/eigen/get/3.3.4.tar.gz: status=22"HTTP response
      code said error"
    Call Stack (most recent call first):
      utilities/CMakeLis

[2018-02-27 18:09] krivenko commented on #483
It looks much like Travis CI is experiencing network connectivity problems...
Here is another, seemingly related problem: https://github.com/travis-ci/travis-ci/issues/9112

[2018-03-01 20:35] krivenko opened #484 "[ALEA] Return types of count() and count2() are different between *_data and *_result classes"
Return types of count() and count2() methods are inconsistent (`size_t` vs `double`) between result classes and their respective data classes. Out of 5 pairs of classes, only `mean_result`/`mean_data` aren't affected by this problem, I guess.

[2018-03-02 19:39] egull opened #485 "icpc barfs at divide_accumulators test"
This is what happens in the divide_accumulators test on icpc 18.0.1 on OSX:

[ 44%] Building CXX object accumulators/test/CMakeFiles/divide_accumulators.dir/divide_accumulators.cpp.o
cd /Users/egull/ALPSCore/build_icpc/accumulators/test && /usr/local/bin/icpc  -DALPS_HDF5_1_8 -I/Users/egull/ALPSCore/build_icpc/hdf5/include -I/Users/egull/ALPSCore/hdf5/include -I/Users/egull/ALPSCore/build_icpc/uti

[2018-03-02 19:52] egull commented on #485
OK, this is a bug but not one in ALPSCore:
https://software.intel.com/en-us/forums/intel-c-compiler/topic/748661

...and will be fixed in the next release of the intel compiler. I guess we need to wait for that one until ALPS will compile with Intel again on OSX.

[2018-03-03 01:20] kleinhenz opened #486 "[alea] compilation failure with gcc-7.1"
alea does not compile with gcc-7.1 on cori due to the following error

[code]

[2018-03-04 15:06] #486 closed

[2018-03-15 17:21] ahaichen opened #489 "warning on "unsupported tag""
a series warning on some "unsupported tag" are generated when Make the current version ALPSCore. It seems they do not influence the code. Just post here as a note.

Warning: ignoring unsupported tag `ALLOW_UNICODE_NAMES    =' at line 79, file /home/alanchen/download/ALPSCore/build/Doxyfile
Warning: ignoring unsupported tag `GROUP_NESTED_COMPOUNDS =' at line 361, file /home/alanchen/download/ALPSCo

[2018-03-15 17:36] galexv commented on #489
It looks like a Doxygen problem. What does "doxygen --version" say?

[2018-03-15 17:36] ahaichen commented on #489
1.8.5

[2018-03-15 17:50] galexv commented on #489
The warnings are harmless, i will see what is the easiest way to remove them (i guess, it's trimming down the Doxyfile to a bare minimum: the less directives there are, the less unknown directives there will be).

[2018-03-19 21:19] galexv opened #490 "[params] Make streaming operator for individual parameter output the value"
...unless in "verbose/debug" mode. That is:
[code]
should output `123`.

Related to #421 and to https://github.com/ALPSCore/CT-HYB/issues/16.

[2018-03-24 15:27] dombrno opened #493 "input parameters with -- in command line still supported?"
Godd afternoon,
I have developed a code  which uses the ALPSCore libraries, and unfortunately I have not had the courage/energy/wisdom to keep up with the updates of ALPSCore as they were coming. This means that my code has been using the tag 156ce1e9bb1b1fc39e69f7e7359722d498185df6 ever since it was created (5/12/2016 :( ). Recently, I have needed to used ALPSCORE/CT-HYB in one of its more recent

[2018-03-24 17:12] galexv commented on #493
Overriding parameters supplied via HDF5 file in command line is not yet supported (it is issue #436). This is planned to be fixed soon.
Supplying parameters via the command line uses `--name=value` syntax (with dashes optional) or `--option` for boolean options (`--option` is a shortcut for `--option=true`, which is in turn equivalent to `option=true`).
An argument that contains neither leading `-

[2018-03-24 17:30] dombrno commented on #493
Thank you for this. I only use parameters supplied via INI file, and override some in command line.

Using the syntax which you just indicated, this seems to be working fine in the current version, so I think we can close this issue?

Thanks a lot for your work, and for the amazing support.

[2018-03-24 20:04] #493 closed

[2018-03-29 10:22] egull opened #495 "Alps wiki build on Jenkins"
Is in an infinite loop and had to be disabled.

[2018-03-29 16:16] galexv commented on #495
Updated Jenkins job to use a newer Linux (label `lxc-fedora25`).
Also, decreased the polling frequency to 1/5 min⁻¹.

[2018-03-29 17:20] galexv commented on #495
Seems to work, closing the issue.

[2018-03-29 17:20] #495 closed

[2018-03-30 17:59] galexv opened #496 "[params] No help is available if description is not set"
Apparently, a lot of legacy code does not call `param::description()` but expects `params::help_requested(ostream&)` to work (see issue #405). I think parameters should define `--help` option by default (thanks Jia (@katherlee) for the request).

[2018-04-03 13:30] shinaoka commented on #465
When I tried to compile ALPSCore with clang 5.0.0 + boost 1.58.0 + C++14, I got the following errors.
This is a bug in boost 1.58.
https://svn.boost.org/trac10/ticket/11251

Getting rid boost::mpl will go around this bug?

[code]

[2018-04-03 14:01] galexv commented on #465
No, it would be "getting rid of `boost::variant`" which i am seriously considering. For now, it's probably possible to implement a [workaround suggested in https://svn.boost.org/trac10/ticket/11251](https://svn.boost.org/trac10/ticket/11251) -- thanks, Hiroshi!

[2018-04-03 14:06] galexv opened #497 "Compilation failure with Boost 1.58 and C++14"
As reported by Hiroshi (@shinaoka), the compilation of ALPSCore in C++14 mode with Boost 1.58 fails (see issue https://github.com/ALPSCore/ALPSCore/issues/465#issuecomment-378250432 and https://svn.boost.org/trac10/ticket/11251).
The workaround for now is to use a newer version of Boost.

[2018-04-03 14:24] shinaoka commented on #497
It may be better to check C++14 build in Travis CI as follows.
https://github.com/shinaoka/ALPSCore/blob/master/.travis.yml

What do you think?
A drawback is that we need to use gcc 5 for C++14.

[2018-04-03 14:46] galexv opened #498 "Expand testing for more combinations of compilers, C++ standards, and libraries"
(Moved from issue https://github.com/ALPSCore/ALPSCore/issues/497#issuecomment-378268345)
@shinaoka said:

https://github.com/shinaoka/ALPSCore/blob/master/.travis.yml
What do you think?
A drawback is that we need to use gcc 5 for `C++14`.
We may be able to check all available compilers like this.
https://github.com/ldionne/hana/blob/master/.travis.yml
But I am not sure it's worth doing.

Sure, th

[2018-04-03 14:48] galexv commented on #497
Moved CI discussion to issue #498.

[2018-04-03 21:48] krivenko commented on #498
Eigen3 used to be incompatible. All version prior to 3.2.1 made use of the register storage class for some variables, which is removed from C++17.

Another problem is with Boost that still uses `std::auto_ptr` (also removed from C++17). There is, however, a workaround macro `BOOST_NO_AUTO_PTR` understood by Boost 1.58 and newer.

[2018-04-03 22:01] shinaoka commented on #498
Thank you. So, the latest ALPSCore should compile with C++17.
But, ALPS_CXX_STD does not support C++17.

[2018-04-04 01:59] galexv opened #500 "Allow compilation with C++17"
As suggested in https://github.com/ALPSCore/ALPSCore/issues/498#issuecomment-378413474, enable C++17 support by CMake script.
See also #452: we may require sufficiently new CMake.

[2018-04-12 11:36] shinaoka commented on #498
I am back to this issue.
C++17 is anyway very new, and I am not aware of any user using ALPSCore with C++17.
I am already happy with tests with C++98, C++11, C++14.

[2018-04-12 11:40] shinaoka commented on #497
Is it easy to workaround the bug in Boost 1.58 by modifying ALPSCore?
If not, we should put this into the trouble shooting on wiki.

[2018-04-13 08:37] dombrno opened #501 "Eigen::tensor?"
Good morning,

This is not an issue report, but only a suggestion for the (far) future. At the moment, at the level of the interface between h5 storage and client codes, it seems like the usual practice is to read/write data to/from hdf5 from/into boost::multiarray objects, which ALPSCORE supports very well.

Unfortunately, the boost::multiarray library is really only about containers, and as soon

[2018-04-13 08:40] egull commented on #501
We are aware of Eigen Tensor and use it in some of our codes. At the moment it is not supported in Eigen's the default release. Once it will be released (and the released version widely adopted), we will make ALPS aware of it.

[2018-04-13 08:43] dombrno commented on #501
Thank you.

[2018-04-13 08:43] #501 closed

[2018-04-18 23:05] shinaoka opened #502 "Permission issue in parsing an ini file"
Hi, I got some feedback from an user of the new ALPSCore/CT-INT code.
There is some problem in the ALPSCore parameter libraries.

I've reproduced the same problem on Mac.
I installed the binary of the  CT-INT into a system directory "/opt/ctint/bin".
Then, I invoked the problem as

[code]

The input file is parsed by the parameter libraries as
https://github.com/ALPSCore/CT-INT/blob/master/src/mai

[2018-04-19 00:07] galexv commented on #502
The temporary file is not a good approach to begin with (it's a limitation of the chosen INI library), and have it based on the _full path_ of the executable is likely a mistake. I'll fix this.

[2018-04-19 10:55] shinaoka commented on #502
Thank you for the reply.
How long does it take to fix this?

[2018-04-19 10:57] egull commented on #502
@galexv, let's look at this when you come in. Do you have time 9-9:30? We should get it done then...

[2018-04-19 12:34] shinaoka commented on #502
Thank you! Looking forward to see some solution from you...

[2018-04-19 14:17] galexv commented on #502
I will fix it in an hour, i think.

[2018-04-19 15:46] galexv commented on #502
@shinaoka I have merged the fix to the master branch.

[2018-04-20 07:38] shinaoka commented on #502
Thank you. I've confirmed that the fix works on my laptop!
Let us close the issue!

[2018-04-20 07:38] #502 closed

[2018-04-26 13:54] galexv opened #505 "alpscore.org Doxygen link dangling"
The Doxygen docs link pointing to a non-existing page in alpscore.org.

[2018-04-26 16:41] kleinhenz opened #506 "[alea] linear_prop is broken for batched accumulators"
Linear propagation gives incorrect results when the input accumulator is batched, e.g. `batch_acc` or `cov_acc` with `bundle_size > 1`. I think this has to do with `count2` not being computed correctly.

MWE

[code]

Produces output

[code]

[2018-05-01 21:09] krivenko commented on #506
The problem is here:
https://github.com/ALPSCore/ALPSCore/blob/e70f3a9820e41276e9825f8da080419782f67b93/alea/include/alps/alea/transform.hpp#L62

If `in` is a `cov_result`, `in.cov()` returns `batch_size() * store_->data2()`. I guess one has to rescale the result back before storing it in `res.store().data2()`.

[2018-05-01 23:01] egull commented on #506
@mwallerb please make fixing this a priority.

[2018-05-09 17:00] krivenko commented on #484
Wait a minute, `count2()` still has inconsistent return types...
[code]

[2018-05-09 17:27] mwallerb opened #508 "[accumulators] test `repeated_merge` fails when run in parallel"
On the old accumulator framework, when running:

    $ mpirun -np 2 ./accumulators/test/repeated_merge

I get:

    /home/mwallerb/Workspace/alpscore/accumulators/test/repeated_merge.cpp:91: Failure
    Value of: rset["value"].count()
      Actual: 50000
    Expected: rset["test_value"].count()
    Which is: 40000
    Count
    [  FAILED  ] AccumulatorTest/1.twoMerges, where
      TypeParam = (ano

[2018-05-09 17:30] mwallerb opened #509 "[gf] test `mesh_test_mpi` fails when run in parallel"
When running:

    $ mpirun -np 2 ./gf/test/mesh_test_mpi

I get:

    [ RUN      ] MeshTest.MpiBcastMatsubara
    /home/mwallerb/Workspace/alpscore/gf/test/mesh_test_mpi.cpp:54: Failure
    Value of: ref_mesh
      Actual: # MATSUBARA mesh: N: 20 beta: 5 statistics: FERMIONIC POSITIVE_NEGATIVE
    Expected: *mesh_ptr
    Which is: # MATSUBARA mesh: N: 20 beta: 5 statistics: FERMIONIC POSITIVE_NEG

[2018-05-09 17:34] mwallerb commented on #484
Yes, but this needs to be that way, because `size2_` is potentially `size_ * size_`

[2018-05-09 17:35] mwallerb commented on #484
Ah no, shit, you're right ...

[2018-05-09 17:45] mwallerb opened #511 "[travis] run tests in parallel to check for MPI issues"
Given bugs #508 and #509, I think we should run tests in parallel on travis.

Something like

    $ ALPS_TEST_MPI_NPROC=4 make test

here: https://github.com/ALPSCore/ALPSCore/blob/master/.travis.yml#L59

[2018-05-09 17:47] #484 closed

[2018-05-09 18:01] galexv commented on #508
Looking at it...

[2018-05-09 19:03] galexv commented on #508
Commit c987a08cf5b18d54149e164aecbb0d9feed67bec is last good (aka PR #380), commit 97d4b696ca4ec0ace8090fbf7aa4b7f9837ca0d1 is first bad: merging the master into the feature branch (issue #295).

[2018-05-11 14:16] #508 closed

[2018-05-11 14:17] galexv commented on #511
Closed by commit c1c69da06137b7c01f1f73379fec03d092ff8f0c.

[2018-05-11 14:17] #511 closed

[2018-05-11 15:30] #506 closed

[2018-05-11 15:50] #335 closed

[2018-05-11 15:53] galexv commented on #262
If anyone is bitten by this bug, feel free to reopen.

[2018-05-11 15:53] #262 closed

[2018-05-11 18:26] galexv commented on #483
Yes, i think so. Closing.

[2018-05-11 18:26] #483 closed

[2018-05-13 16:30] mwallerb commented on #509
Fixed by #516, right?

[2018-05-13 16:30] #509 closed

[2018-05-14 15:32] galexv commented on #497
Closed by commit dc3b2d9 (PR #499).

[2018-05-14 15:32] #497 closed

[2018-05-14 18:39] #496 closed

[2018-05-15 16:34] egull commented on #485
Indeed, this has been fixed in the latest version.

[2018-05-15 16:34] #485 closed

[2018-05-15 17:36] egull opened #518 "Problem with exception for no error available"
ICC under osx reveals a problem with the test of the std::vector<double> mean accumulator. The test seems to be on line 79 of the test (mean_err_count.cpp:79), when the test is instantiated with std::vector<double>.

[----------] 3 tests from DoubleMean/AccumulatorStatTest/10, where TypeParam = generator<alps::accumulators::MeanAccumulator<std::__1::vector<double, std::__1::allocator<double> > >,

[2018-05-16 15:07] galexv commented on #518
I cannot reproduce the problem with Intel 18.1 on Linux. I will try to do it under OSX. What version of icc is used? (Could you please attach CMakeCache.txt here? Thanks!)

[2018-05-16 15:13] galexv commented on #452
Just checked: a reasonably recent CMake understands reasonably recent Intel compilers. E.g., [Cmake 3.11.1](https://cmake.org/cmake/help/v3.11/release/3.11.html) understands Intel 18.0.1.

[2018-05-16 16:09] egull commented on #518
This is with:
egull-mbp2:build_icpc egull$ icpc --version
icpc (ICC) 18.0.2 20180210
Copyright (C) 1985-2018 Intel Corporation.  All rights reserved.

[CMakeCache.txt](https://github.com/ALPSCore/ALPSCore/files/2009902/CMakeCache.txt)

[2018-05-17 15:19] egull commented on #489
Thanks for reporting. The reason here is that the doxygen version (1.8.5) is older than the doxygen file version (Doxyfile 1.8.11). Doxygen will still work, it just gives these warnings. For now I'd ignore this - it's not worth trimming the file down by hand.

I'll close this for now.

[2018-05-17 15:19] #489 closed

[2018-05-31 20:19] egull commented on #467
I will close this – no response. Please feel free to reopen if the problem is still there.

[2018-05-31 20:19] #467 closed

[2018-06-25 17:58] DalInar commented on #348
Hi all,

The issue with HDF5 locking is popping up when I try to run DMFT on the Cori compute nodes in the `project` filesystem.   I get the same HDF5 error as above when DMFT tries to write the `cluster.h5` file:
[code]
 I've compiled the code according to [these instructions](https://github.com/egull/CTAUX/wiki/Installing-on-Cori).  The compilation succeeds, and the code can run on a login node,

[2018-06-26 16:32] DalInar commented on #410
Hi all,

The issue with HDF5 locking is popping up when I try to run DMFT on the Cori compute nodes in the `project` filesystem.   I get the same HDF5 error as above when DMFT tries to write the `cluster.h5` file:
[code]
 I've compiled the code according to [these instructions](https://github.com/egull/CTAUX/wiki/Installing-on-Cori).  The compilation succeeds, and the code can run on a login node,

[2018-06-29 16:30] egull commented on #479
Not important. I'm closing this because we have no plans to address it.

[2018-06-29 16:30] #479 closed

[2018-07-02 14:16] galexv commented on #444
Reason and remedy are described in https://github.com/ALPSCore/ALPSCore/wiki/Known-problems-and-workarounds .

[2018-07-02 14:16] #444 closed

[2018-07-02 14:16] galexv commented on #424
Reason and remedy are described in https://github.com/ALPSCore/ALPSCore/wiki/Known-problems-and-workarounds .

[2018-07-02 15:52] galexv commented on #410
@DalInar Does running "make test" after DMFT is compiled also fail the same way? For  me it does not:
[code]
As expected, one test (the one which fails to compile) is missing, others do pass.

On the other hand, if i do not set `HDF5_USE_FILE_LOCKING=FALSE`, `make test` indeed fails.

If the tests pass for you too, but a "real" run fails, could you please send me the input and the way you run the

[2018-07-02 16:27] galexv opened #520 "[documentation] Describe co-installation or requirement of Eigen3"
The installation wiki page and the list of CMake variables should mention `ALPS_INSTALL_EIGEN` and `EIGEN3_INCLUDE_DIR` variables.

[2018-07-02 20:32] DalInar commented on #410
Hi @galexv !  At this point I'm not sure - the unit tests run successfully, but I've recompiled everything with an earlier version of HDF5 (1.8.16), where I don't there was ever a file locking issue.

Here's how I was testing DMFT though:

1. Start an interactive job (somewhere on the `project` filesystem):
[code]
2. Export the HDF5 flag:
[code]
3. Then try to run DMFT:
[code]

It's when I try to

[2018-07-06 15:53] galexv commented on #460
Documented in https://github.com/ALPSCore/ALPSCore/wiki/Selecting-ALPSCore-components

[2018-07-06 15:53] #460 closed

[2018-07-06 15:54] #451 closed

[2018-07-06 16:04] egull commented on #256
At this point we don't have capacity for this in the future, sorry. @jgreitemann , feel free to do it yourself if you have time/capacity.

[2018-07-06 16:04] #256 closed

[2018-07-06 16:07] egull commented on #356
No capacity to do this in the near term, sorry. I will close this, we'll reopen if we get capacity to rewrite archive.

[2018-07-06 16:07] #356 closed

[2018-07-06 18:05] galexv commented on #394
Update: the multiconfigurational (matrix) build is set up on Jenkins; but simultaneous Boost download fails.
ToDo: Avoid downloading, keep Boost locally on CloudBees?

[2018-07-08 14:23] egull opened #523 "Test coverage tracking"
This is something to keep in mind for longer term: keep tracking test coverage (and changes) with new code. This is our current coverage:

Reading tracefile coverage.info
                                               |Lines      |Functions|Branches
Filename                                       |Rate    Num|Rate  Num|Rate   Num
=====================================================================

[2018-07-08 14:53] iskakoff commented on #523
I would like to suggest that we need to sit down and check all tests we have. Because at least what I have seen in GF, there are many tests that does not catch the problems.

For example, for positive_negative matsubara we had tests, they passed, but positive_negative matsubara was just wrong.

We need to make a proper test plan for every module

[2018-07-08 14:57] egull commented on #523
Agree. I think it's time for an ALPS hackathon to identify these problems.

[2018-07-09 17:11] galexv commented on #344
Added a phrase to [dev docs](https://github.com/ALPSCore/ALPSCore/wiki/Developer-guidelines).

[2018-07-09 17:11] #344 closed

[2018-07-09 19:42] #103 closed

[2018-07-09 19:42] #110 closed

[2018-07-09 19:58] egull commented on #343
I would like to put this as 'wontfix' as Alea does it right. @mwallerb ?

[2018-07-09 20:00] egull commented on #341
@shinaoka did this work the way Markus proposed? Do you have a solution? Do we still have a need for this?

[2018-07-09 20:02] #417 closed

[2018-07-11 22:22] egull commented on #313
all tests pass on conflux with the following modules:

module load compilers/ibm-xlc/16.1.0
module load cmake/3.5.2

module load openmpi/1.10.3/ibmxl/16.1.0
module load hdf5/1.10.0/xlc-xlf/latest

export BOOST_ROOT=/gpfs/gpfs0/software/rhel72/packages/boost/1.61.0-xlcpp-13.1.4

export CC=xlc
export CXX=xlc++
cd target
sh ../common/build/build.jenkins.sh --cmake-flags "-DEIGEN3_INCLUDE_DIR=$HOME/so

[2018-07-11 22:22] #313 closed

[2018-07-11 22:24] egull commented on #343
no reply. Closing, will reopen if we have plans to fix it.

[2018-07-12 03:03] shinaoka commented on #341
OK, I confirmed the following code works both for Python 2 and 3.

https://github.com/shinaoka/ALPSCoreTests/blob/master/str_vec_hdf5/string_vec.py

[2018-07-12 03:36] #341 closed

[2018-07-12 13:13] mwallerb commented on #343
This is still an issue in ALEA.

My plan for fixing this is to introduce a type `shifted<...>` that take care of the shifting technique for avoiding this.

[2018-07-13 17:50] galexv commented on #500
@egull Shall we bump the required CMake version to 3.8? It may also help with #452.
[Precompiled cmake binaries](https://cmake.org/files/v3.8/) are readily available for Linux and MacOS, so they can be installed by users even a particular system does not have them by default. The only concern is exotic systems like Cray; i have checked that, e.g., on NERSC Cori cmake 3.8.2 is available.

[2018-07-14 01:54] egull commented on #500
I'm ok with a one year old version... Can we get away with that?

[2018-07-14 03:34] shinaoka commented on #500
The ISSP supercomputer has cmake 3.2.3, but it should be upgraded easily.

[2018-07-16 14:07] #500 closed

[2018-07-16 14:48] #391 closed

[2018-07-18 13:34] galexv opened #529 "Make a tutorial for PR #527 (ALPSCore client using Boost)"
Make a tutorial demonstrating using Boost from a client code.
Cf. issue #391 and PR #527.

[2018-07-18 18:27] #452 closed

[2018-07-19 02:17] galexv commented on #410
@DalInar Joe, could you please attach your `paramfile` here? (Or is it some paramfile from the DMFT test suite?)

[2018-07-20 13:33] #283 closed

[2018-07-20 16:29] galexv commented on #520
Added the information to Wiki.

[2018-07-20 16:29] #520 closed

[2018-07-20 16:35] galexv commented on #410
I cannot reproduce the error (`make test` in DMFT passes without setting any environment). Maybe NERSC people have fixed the problem?
I am closing the issue for now, @DalInar if you still experience it, please reopen!

[2018-07-20 16:35] #410 closed

[2018-07-21 21:17] egull commented on #498
OK. I will assign this issue to @shinaoka . Are you happy with the present tests or would you like to have more?

[2018-07-21 21:19] egull commented on #218
This is fixed by moving to Travis for the ALPSCore tests. Cloudbees Jenkins will retire.

[2018-07-21 21:19] #218 closed

[2018-07-21 21:30] egull commented on #312
We can close this. The updated XLC works beautifully with ALPSCore, out of the box, with no added compile flags.

[2018-07-21 21:30] #312 closed

[2018-07-21 22:30] shinaoka commented on #307
Yes, the fixed code does what I really  want! Closing...

[2018-07-21 22:30] #307 closed

[2018-07-22 01:31] egull commented on #100
I really don't know how to do this in a general way. We have fraction_completed that one could query in principle, and I would use that one and adapt it for each case. I propose not to do something here. @galexv ?

[2018-07-22 23:13] egull commented on #215
I decided against this. There is no clean way to do this, not in the least because the licenses are different. If we did it we would have to install / provide someone else's code, and I don't want to do this. To avoid using multiple gtest one can always specify the gtest location. That way neither ALPS nor a dependent code will download it.

[2018-07-22 23:13] egull commented on #215
Closing,. If someone has a clean and practicable solution we will reopen.

[2018-07-22 23:13] #215 closed

[2018-07-23 13:44] galexv commented on #100
I agree that `mcmpiadapter<simclass>::fraction_completed()` is good enough for the purpose. Later we may want to make a short tutorial on how to use it to output the progress, if it makes sense. Let's close it now.

[2018-07-23 13:44] #100 closed

[2018-07-23 13:47] galexv commented on #116
Is it still an actual problem --- are there ALPSCore-using codes out there that suffer from significant load imbalance? I propose to put this issue into "icebox" for now.

[2018-07-23 13:49] egull commented on #116
I don't think we know. We would have to test this thoroughly to see if this problem ever appears. I agree with moving to icebox.

[2018-07-23 16:07] galexv opened #535 "Update authors list for Zenodo"
...for the next release. This time i fixed the Zenodo upload ([![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1319719.svg)](https://doi.org/10.5281/zenodo.1319719)
) manually.

[2018-07-23 17:10] galexv opened #536 "Set up MacPorts testing on TravisCI"
TravisCI uses homebrew. OTOH, it would be good to test our Port before submitting it to Macports repo (especially considering that not all devs here have Macs). Good starting point is, e.g., https://github.com/GiovanniBussi/macports-ci/blob/master/macports-ci .

[2018-07-23 17:44] egull commented on #536
I can test the updated Port file and submit it to macports, no problem.

On Mon, Jul 23, 2018, 1:10 PM Alexander Gaenko <notifications@github.com>
wrote:

[2018-08-08 15:39] iskakoff opened #541 "Test: nonexistent failed with intel c++ in Debug build"
[code]

Probably fixed by #538

[2018-08-08 15:42] egull commented on #541
Can you have a quick look if #538 actually fixes it, and if so we'll merge right away.

[2018-08-09 16:03] iskakoff commented on #541
I have icc (ICC) 16.0.4 20160811
and the error is still there

[2018-08-13 20:36] #535 closed

[2018-08-14 02:03] galexv opened #548 "[legacy accumulators] Infinite recursion on named accumulator assignment"
Caught by `clang++ -Wall` while working on issue #375: infinite recursion at line 26 of
https://github.com/ALPSCore/ALPSCore/blob/b6274b03e6326ce1dba0eb35b2289838eaff3a3c/accumulators/src/namedaccumulators.cpp#L23-L27
(and similar places).

clang reports:
[code]

and indeed, a simple test along the lines:
[code]
confirms the warning.

[2018-08-20 17:29] #548 closed

[2018-08-20 20:20] galexv commented on #536
Fixed by ALPSCore/packaging@9b5c3a9818329fbfdefdb9badb806a3bc0ded30d.

[2018-08-20 20:20] #536 closed

[2018-08-20 20:44] galexv opened #551 "[ci] Have a controlled environment for test compilations"
TravisCI provides by default an ancient MPI library and a version of clang other than we may want. For the test compilation (especially for getting rid of warnings, see #375) we need a controlled environment. It would be good to have a docker image with prerequisites pre-installed, and use that on TravisCI (and, some day, on Jenkins).

[2018-08-21 13:57] galexv opened #552 "ALPSCore-dependent program (Maxent) fails to find Boost libs"
This issue (CQMP/Maxent#48) may or may not be related to PR #527 --- i will look at it.

[2018-08-21 14:48] galexv commented on #552
The problem manifests itself with a sufficiently recent CMake (3.9, maybe even earlier).

Quick workaround: after finding an ALPSCore package in your project's `CMakeCache.txt` file, reset `Boost_NO_SYSTEM_PATHS` variable to `false`:
[code]

The problem seems to be that ALPSCore asks CMake to NOT search for Boost (to prevent finding an incompatible Boost), but ALPSCore does not need Boost librarie

[2018-08-21 15:01] galexv commented on #552
A possible way out is to allow CMake to search for the requested Boost libraries, but allow the ALPSCore user to specify the required Boost version (via `find_package(Boost version EXACT ${ALPSCore_BOOST_VERSION})` or something).

[2018-08-21 15:51] galexv commented on #552
By the way, addressing issue #119 (at least, building tutorials as part of TravisCI build) would have caught this bug earlier.

[2018-08-21 19:29] galexv opened #553 "[packaging] Build failures on some Mac OSX boxes"
This issue is to track problems in packaging repo:

- [ ] ALPSCore/packaging#9
- [x] ALPSCore/packaging#10
- [x] ALPSCore/packaging#11

[2018-08-27 18:40] galexv opened #554 "CMake script fails if `cxx_std_11` feature is unknown"
This is detected at ALPSCore/packaging#11:
Error:
[code]
This should not happen: CMake should have told right away that the feature is not known for this combination of CMake/compiler, or guess the flags, or outright reject this version of the compiler.

[2018-08-27 19:36] egull commented on #554
This must come out in macports for an ancient version of mac. Just disable
the platform and don't support it... don't waste time on fixing it. Nobody
uses this anymore.

On Mon, Aug 27, 2018 at 2:40 PM, Alexander Gaenko <notifications@github.com>
wrote:

[2018-08-31 15:12] #552 closed

[2018-08-31 15:15] galexv opened #557 "[documentation] Update linking-with-Boost tutorial"
See PR #555: the wiki page https://github.com/ALPSCore/ALPSCore/wiki/How-to-use-Boost needs an update.

[2018-09-10 17:59] galexv opened #558 "[documentation][parameters] Document constructing parameters from cmdline"
Doxygen docs for `alps::params` should describe the way command line arguments are understood in more details. Especially, after fixing #436, how file arguments (HDF5 and INI files) and key-value pairs interact.

[2018-09-14 15:08] galexv commented on #541
Cf #75 ?

[2018-09-14 15:13] galexv commented on #394
As we use TravisCI rather than Jenkins for the time being, let's close this (consider it fixed by PR #524).

[2018-09-14 15:13] #394 closed

[2018-09-14 16:11] galexv opened #560 "[compilation] Cannot co-install Eigen3 after failed CMake"
Suppose a user tries to build ALPSCore:
[code]
and it fails because Eigen3 is not available:
[code]
Now the user does as requested:
[code]
and gets:
[code]

which _looks_ like a bug, and is surely confusing.
Removing the `CMakeCache.txt` helps, but we should either explicitly advise to do so, or take care of this situation ourselves (in this case, the supposed location of Eigen3 is empty; CMake sc

[2018-09-14 16:42] galexv commented on #541
Cannot reproduce it with Intel 16.0.3 20160415 on flux. The error seems awfully specific to the compiler version. Shall we close it till we get more reports?

[2018-09-14 16:43] egull commented on #541
Yeah. I think this is something wrong with Intel and we should just ignore it until it comes back in some other way.

[2018-09-14 18:42] galexv commented on #557
Updated, https://github.com/ALPSCore/ALPSCore/wiki/How-to-use-Boost

[2018-09-14 18:42] #557 closed

[2018-09-14 18:45] #541 closed

[2018-09-21 09:42] ahaichen opened #561 "Doxygen in the home page not working?"
As the title~

[2018-09-21 14:29] galexv opened #562 "[ci] Migrate away from Cloudbees"
We should really leave Cloudbees-Jenkins for good, it has deteriorated significantly (for our purposes). For example, the builds are not seen unless you login, neither the generated files (such as HTML Doxygen docs, which is one of the reason for issue #561). Also, [they are to retire DEV@Cloud](https://support.cloudbees.com/hc/en-us/articles/360008971551), and it will break all our builds.
For CI

[2018-09-21 16:26] galexv opened #563 "Replace links to CloudBees from alpscore.org"
As per #562 and to fix #561, all links to CloudBees from alpscore.org must be removed and replaced with links to equivalent/similar pages.

[2018-09-21 17:58] galexv commented on #561
@egull @ahaichen I have submitted a PR (ALPSCore/alpscore.github.io#3) that should take care of this.

[2018-09-22 12:14] #563 closed

[2018-09-22 12:14] #561 closed

[2018-09-24 13:58] mwallerb opened #564 "[build] Error exposing HDF5 to user codes with cmake 3.12"
It's the next round of CMake's favourite game: Let's Break User Space!<sup>(TM)</sup>

CMake 3.12 made some changes that stops ALPSCore from exposing its HDF5 dependency to user codes.  Compiling a user codes results in the following error message:
[code]

As a workaround, one has to explicitly declare the HDF5 dependency *before* ALPSCore dependency:
[code]

[2018-09-24 14:01] egull commented on #564
Crap. @galexv please have a look and prioritize this!

[2018-09-24 14:02] egull commented on #560
Tell the user in the error message (at 3) to remove CMakeCache.txt. Don't overthink this.

[2018-09-24 14:03] egull commented on #562
Our cloudbees account has been deleted.

[2018-09-24 14:06] egull opened #565 "The dashboard makes no sense"
http://alpscore.org/dashboard.html

is not helpful. We need to either remove it or do something better! Short term I propose to either remove or deemphasize it.

[2018-09-24 14:13] galexv commented on #565
It is milestone-oriented now, but we do not follow milestones, we follow Epics. I guess if GitHub and/or ZenHub exposes the relevant API, we can rework the dashboard. (Alternatively, we can arrange milestones to follow Epics). For now i will remove the link to the dashboard.

[2018-09-24 14:47] galexv commented on #562
Thanks!

[2018-09-24 15:34] galexv commented on #564
@mwallerb Cannot reproduce it with CMake 3.12.2 and HDF5 1.8.16 under Ubuntu 16.04.
Could you please give more info: OS, version, HDF5 version... (and possibly send me CMakeCache.txt of both ALPSCore and the client code)?

[2018-09-24 15:52] mwallerb commented on #564
Arch Linux
CMake 3.12.2
HDF5 1.10.3

Cache files per mail...

[2018-09-25 13:49] galexv commented on #564
(I am not closing yet: we should still handle targets imported from external libraries properly)

[2018-09-26 13:40] galexv commented on #523
We can track our coverage on https://coveralls.io/

[2018-10-05 15:04] galexv opened #567 "[documentation] CI description is out of date"
The [Continuous build](https://github.com/ALPSCore/ALPSCore/wiki/Continuous-build) wiki page, referenced from [Overview Infractructure](https://github.com/ALPSCore/ALPSCore/wiki/Overview-Infrastructure) page, is out of date since https://github.com/ALPSCore/ALPSCore/issues/562#issuecomment-423985700.

[2018-10-08 12:45] #436 closed

[2018-10-08 12:45] #558 closed

[2018-10-08 13:14] galexv commented on #375
@egull @mwallerb Shall we close this? TravisCI now runs with `-Wall -Wno-missing-braces -Wmissing-field-initializers -Werror`.

https://github.com/ALPSCore/ALPSCore/blob/2bf63e72dbe2a09f5a1c0dc06b328d73b5e41aa7/common/build/build.travis.sh#L37

[2018-10-08 13:19] egull commented on #375
Markus @mwallerb , I defer to you.

[2018-10-08 13:21] mwallerb commented on #375
@galexv @egull  I think so.  And now CI will bug us if it ever comes up again.

[2018-10-08 13:21] #375 closed

[2018-10-08 14:36] egull commented on #181
This bug seems awfully irrelevant now that accumulators have been rewritten completely. @mwallerb , is this an actual problem with your ALEA or can we close this?

[2018-10-08 14:36] #560 closed

[2018-10-08 14:38] egull commented on #249
we lost our AWS credits years ago. Closing this, as we're not going there.

[2018-10-08 14:41] mwallerb commented on #181
@egull . Two parts:

1. It shouldn't be a problem in ALEA, we use my new `ALPS_EXPECT_NEAR` there
(https://github.com/ALPSCore/ALPSCore/blob/master/utilities/include/alps/testing/near.hpp), so in this case we can close it.

2. The bug now seems to revolve around tests failing, which is bad even for a legacy library, since we still ship it.  Is this still the case? @galexv

[2018-10-08 14:42] egull commented on #181
No, tests do not fail. And as you used EXPECT_NEAR, I will close this.

[2018-10-08 14:42] #181 closed

[2018-10-12 14:10] galexv opened #570 "[documentation] Document use of MPI from ALPSCore-linked code"
An ALPSCore user had a question along the lines of "ALPSCore offers that weird `alps::mpi` interface to MPI, how can i do simple `MPI_Send`?" The answer is simple enough, "`alps::mpi::comm` objects are implicitly convertible to MPI communicators", but how one can guess this?

Use of MPI from ALPSCore-linked user code should be documented in a form of a tutorial.

[2018-10-15 17:02] galexv commented on #570
Closed via PR #571.

[2018-10-15 17:02] #570 closed

[2018-10-15 17:03] galexv commented on #567
Provided a new description.
Not closing this yet --- it will be updated again once our on-prem Jenkins is up.

[2018-10-19 14:57] galexv opened #572 "Improve componentization"
As discussed with Marcus (@mwallerb), and based on my (@galexv) recent experience with an unrelated project in which I wanted to use the ALPSCore library.

At times, having ALPSCore components depend on multiple other components is inconvenient. For example, IMO `alps::params` provides a decent interface to command-line arguments and parameter files; however, it depends on the archive / HDF5 compo

[2018-10-19 15:42] mwallerb commented on #572
Strong :+1: on this one.

This will bring down compile times as well.

[2018-10-19 15:47] galexv opened #573 "[building] Allow ALPSCore to be used without installation"
There is a mechanism in CMake that allows a project to be linked from its build directory, right after ``make`` and without need to ``make install``. This feature was requested for ALPSCore some months ago, i am now documenting this request.

[2018-10-22 21:36] mwallerb opened #574 "[alea] Add tutorial"
Complaint by @krivenko , who considers it a blocker for the paper.

[2018-10-22 23:08] #172 closed

[2018-10-23 15:28] galexv opened #575 "CI/CD setup"
anything to do with setting up Jenkins and/or Travis CI on Pauli cluster or other hosts

[2018-10-23 15:44] #249 closed

[2018-10-23 16:04] galexv opened #576 "[gf] Compilation failure with clang-3.4.2"
Detected by Jenkins CI build on Pauli, confirmed manually, and is likely the same as the MacPorts build failure https://github.com/ALPSCore/packaging/issues/9

[code]

It is very likely a clang problem, but nevertheless either workaround should be coded, if possible, or the compiler should be blacklisted (and the [prerequisites](https://github.com/ALPSCore/ALPSCore/wiki/Installation#prerequisites)

[2018-10-23 16:05] galexv commented on #553
All seems to be corrected by the proper blacklisting, except this one:
https://build.macports.org/builders/ports-10.9_x86_64-builder/builds/70669

Which is issue #576.

[2018-10-23 19:00] krivenko commented on #574
Well, if this is too much of a pain to do, I'd rather change the wording in the abstract.
The GF tutorial is also missing so writing all this stuff could take ages.

[2018-10-23 19:17] egull commented on #574
I disagree. It's a good idea to have those new features documented and explained, and it really is added value. Let's just wait for it.

[2018-11-02 04:59] wistaria opened #581 "[alea] Fails to compile on 32-bit Linux"
autocorr.cpp fails to compile on 32-bit Debian Stretch:

* cat /etc/debian_version -> 9.5
* dpkg --print-architecture -> i386
* gcc --version -> gcc (Debian 6.3.0-18+deb9u1) 6.3.0 20170516

Error log: [error.txt](https://github.com/ALPSCore/ALPSCore/files/2541123/error.txt)

[2018-11-02 06:33] wistaria opened #582 "[hdf5] header file (alps/hdf5/archive.hpp) conflicts with ALPS"
Name conflict (alps/hdf5/archive.hpp) between ALPS and ALPSCore prevents from installing the both libraries into the same directly, e.g. under system-wide /usr/include.

[2018-11-02 11:51] egull commented on #582
Yes. Not sure what to do about that one or if we're even going to try to address it. Ideally people will switch over to the core library, but we don't have the manpower to take care of the legacy codes so ALPS will be around for some time. I think it's worse than described here: if there are ALPS headers lurking in /usr/include and ALPSCore is installed somewhere else, the compilers may mix and ma

[2018-11-02 11:53] egull commented on #581
Markus this is your header – please have a look asap and if you can't find the problem reassign back to me.

[2018-11-02 13:18] galexv commented on #582
An option would be to rename all header from `<alps/abc.hpp>` to `<alps/core/abc.hpp>` (this has to be a new major version release, because it breaks the interface) and offer a migration tool: a script that finds all alpscore headers by `^( *# *include *<alps/)` regex and changes them to `${1}core/` .

[2018-11-02 13:56] wistaria commented on #581
Indeed, std::size_t is "unsigned long" in 64-bit architecture, while it is "unsigned int" in 32-bit OS. In order to ensure "binary compatibility" between 32 and 64 architectures, we should cast to/from uint64_t before writing to archive (after reading from archive).

[2018-11-02 14:09] mwallerb commented on #581
@wistaria thank you for catching this!  When designing the library, I did not think of 32-bit users, so I took the shortcut `sizeof(size_t) == sizeof(long)`, which fails on 32-bit systems.

However, rather than casting before writing, I think we need to move to a 64-bit number, because otherwise the counters in the accumulators overflow for more than `2^32 ~ 4e9` measurements, which is not inconce

[2018-11-05 15:16] #574 closed

[2018-11-05 15:18] egull commented on #582
Yeah that's not very practical. Neither is renaming the old headers to .../alps/legacy/... I don't see a good way to fix this, other than to tell people not to install legacy alps and the new version system wide.

[2018-11-05 15:22] galexv commented on #582
Then it should be documented: i am placing this issue in the Documentation epic.

[2018-11-05 16:18] mwallerb commented on #582
Does legacy ALPS set some sort of preprocessor macro that ALPS core does not use? In this case, we could at least check for the presence of that macro and complain ...?

[2018-11-05 18:28] #576 closed

[2018-11-05 19:08] #482 closed

[2018-11-05 21:30] egull commented on #582
Dicey. A lot in new alps is similar to what it was in old alps, but the header names are mostly different. config.hpp was config.h, for example. We could possibly check for the alps/config.h header in the standard path during cmake and bail if it exists? That one is an indication that there's an old ALPS lying around. Something like this:

  CHECK_INCLUDE_FILE_CXX("alps/config.h" HAVE_OLD_ALPS)

[2018-11-05 21:33] mwallerb commented on #582
@egull, well we just need a single macro in, say, `alps/config.h` that is unused in ALPS core.

Then we can just check somewhere deep in alps core
[code]

I would do this in a header rather than CMake, b/c this way we catch it at the config actually used by the user.

[2018-11-05 21:36] mwallerb commented on #351
ALEA is now feature-complete. Closing.

[2018-11-05 21:36] #351 closed

[2018-11-05 21:42] egull commented on #582
For that to work you'd have to find a macro that every ALPS header defines but that's not in ALPSCore, and then every alpscore header would have to test for it in a part that is guaranteed not to be overwritten by alps. I don't know how to do that. For instance, the macro ALPS_NGS_USE_NEW_ALEA is a giveaway that someone used the old alea config.h. But then where would you check for it? not in conf

[2018-11-07 09:18] wistaria opened #587 "[accumulators] test binop_with_scalar fails in 32-bit OS"
In 32-bit OS with sizeof(int) == sizeof(long) == 4, binop_with_scalar fails with the following message: [binop_with_scalar.log].(https://github.com/ALPSCore/ALPSCore/files/2556788/binop_with_scalar.log)
Other 31 tests in accumulators passed successfully.

[2018-11-07 12:59] egull commented on #587
Alex, this is another one for Friday. Accumulators are barely touched since the old ALPS, so this must have been working on 32 bit at some time.

[2018-11-08 03:18] galexv opened #588 "[params] Parallel-constructed params object missing `--help` option"
If a parameter object is constructed by its parallel ctor `params(argc, argv, comm, path)` it is lacking the predefined `help` boolean option. (Well, that's embarrassing...:man_facepalming: )
The fix is ready.

[2018-11-08 14:56] #581 closed

[2018-11-08 16:10] galexv commented on #368
Reopening this as per https://github.com/ALPSCore/ALPSCore/pull/589#discussion_r231825426
Related: #423

[2018-11-08 16:11] #588 closed

[2018-11-09 18:58] galexv opened #592 "[ci] Travis MacOS builds are broken"
...the fix is in progress.

[2018-11-09 20:06] galexv commented on #587
The test is relatively new (for issue #79). The error is only with `float` accumulators: discrepancy between vector and scalar float accumulators' behavior.
We saw something similar before: https://github.com/ALPSCore/ALPSCore/issues/181#issuecomment-162987187 .
Should we simply increase the tolerances to 1E-3, although this looks too much, or shall we dig further?

[2018-11-09 22:17] #592 closed

[2018-11-12 19:51] galexv opened #596 "[params] Possibly inconsistent behavior on 32- and 64-bit systems"
Brought to the attention by PR #586 (thanks, @wistaria!). Specifically, on systems where `sizeof(long)==sizeof(int)` int-parameters are loaded from archive as long-parameters. Also, the tests had to be modified to work on 32-bit systems.
It is proposed to unify parameters storage: have it as a 64-bit number for all integers.

[2018-11-12 20:04] galexv commented on #275
See PR #591 by @iskakoff

[2018-11-12 20:29] #275 closed

[2018-11-16 15:54] galexv opened #598 "[gf] Test fails to build with clang 3.4.2"
Looks like clang 3.4.2 does not like someting in [gf/test/fourier_test.cpp](https://github.com/ALPSCore/ALPSCore/blob/df8d11e3f16603b3c2a49976432f4cc83ff826ea/gf/test/fourier_test.cpp#L194)

[code]

See the compilation log at
http://pauli.physics.lsa.umich.edu:8080/job/Public_projects/job/ALPSCore/COMPILER=clang_3.4.2,MPI_VERSION=MPI_OFF/25/console

Sergei (@iskakoff), could you please have a look

[2018-11-16 19:51] #598 closed

[2018-11-19 16:43] egull opened #602 "[alea] copyright notice is missing"
check-module-copyright-notice.py alea finds missing copyright notices in:

alea/src/model.cpp
alea/src/testing.cpp
alea/test/model.cpp
alea/include/alps/alea/testing.hpp
alea/include/alps/alea/internal/pooling.hpp
alea/include/alps/alea/util/model.hpp

I'll prepare a pull request in the next five minutes.

[2018-11-19 16:54] galexv commented on #602
Closed by PR #603

[2018-11-19 16:54] #602 closed

[2018-11-19 19:18] galexv opened #604 "[website] Fix links from alpscore.org to installation instructions"
Fix "install" links from http://alpscore.org after merging PR #600  (commit 65d0db1c3f4073bce10fa5c71919850ccb7ee009).

[2018-11-26 16:47] egull commented on #553
All seems to be correct now.

[2018-11-26 16:47] #553 closed

[2018-12-17 23:00] egull commented on #604
Also fix the citation here:
https://raw.githubusercontent.com/ALPSCore/ALPSCore/master/ACKNOWLEDGE.TXT
by adding the newest arxiv reference.

[2019-01-11 18:16] #604 closed

[2019-02-21 17:14] galexv opened #610 "[documentation] Describe compilation failure in low-memory environments"
It is very possible to see ALPSCore fail to compile, usually somewhere in legacy accumulators, when there is not enough memory available for the compiler. The message is something like this (highlighted for clarity):
[code]
The remedy is to make sufficient memory available to C++ (at least 2GB).

This behavior should be documented.

[2019-02-21 20:26] iskakoff commented on #610
sometimes even 2Gb is not enough. I had problem with some version of Intel 2016, in -O3 it ate about 20Gb and crashed.

[2019-02-22 20:36] galexv commented on #610
Added a notice to the wiki:
https://github.com/ALPSCore/ALPSCore/wiki/Known-problems-and-workarounds#build-fails-when-compiling-legacy-accumulators-with-a-message-killed-or-terminated

[2019-02-22 20:36] #610 closed

[2019-03-04 21:39] galexv opened #611 "Set up Jenkins build on Pauli properly"
This is to track
- [ ] ALPSCore/Jenkinsfiles#1
- [ ] ALPSCore/Jenkinsfiles#2
and possibly exclude some compiler/MPI combinations.

[2019-03-15 14:18] galexv opened #612 "Compilation failure with AppleClang 6.0.0.6000057"
On occasions when MacPorts rebuilds ALPSCore packages, we get build failure notification (see https://build.macports.org/builders/ports-10.9_x86_64-builder/builds/83422):
[code]
This may be related to  #576 (has been fixed).
See also: ALPSCore/packaging#9

[2019-03-25 14:40] galexv commented on #612
The reason seems to be that the [current Portfile](https://github.com/ALPSCore/packaging/blob/187d9ed9ecd5faac553ce3998d83a8a632ea6565/macports/science/ALPSCore/Portfile#L9) fetches our [release 2.2.0](https://github.com/ALPSCore/ALPSCore/releases/tag/v2.2.0) from 23-Jul-2018, while issue #576 was fixed [later](https://github.com/ALPSCore/ALPSCore/pull/583).

The "fix" is straightforward: make a r

[2019-04-08 14:18] mwallerb commented on #213
As discussed with @egull , being able to call into the statistics library from Fortran would be nice for the w2dynamics code.

The best way to do so IMHO would be a two-step wrapping Fortran <=> C <=> C++ :

 a)  one first needs to have a thin C compatibility layer around the C++ classes we care about.

 b)  then one needs small Fortran stubs (basically like C header files) that  make those C func

[2019-04-09 23:13] galexv opened #614 "[params] Runtime error when casting `string` param to `const char*`"
The following code:
[code]
throws `type_mismatch` exception about illegal attempted conversion from `string` to `char*`.
This looks like a bug: either it should perform the conversion and return a `const char*` pointer to the underlying string (whether it's a good idea is a different question), or it should fail at *compile time*, as it does with other unsupported types.

[2019-04-10 15:50] egull commented on #213
@galexv , please prioritize this and make sure that Markus has everything he needs!

[2019-04-11 02:50] galexv commented on #213
@mwallerb  Which C++ classes we care about?

[2019-04-12 17:36] galexv commented on #213
@mwallerb This sketch is how i can imagine calling Alea from Fortran-2003 code (the user side; no implementation details, such as binding to Fortran via `extern "C"` shims, are discussed here).

[code]

I am not sure whether to use `call X%Something(Result)` or `Result=X%Something()`. I would prefer function style, but use of functions with side-effects (e.g., allocating dynamic memory) seems to b

[2019-04-12 20:39] mwallerb commented on #213
@galexv This looks *very* nice indeed!

As for which classes to wrap: I would be happy with `mean_acc` and `autocorr_acc`.

As for the design.  It would be more natural to have it like this I think:
[code]

[2019-06-11 20:07] stewitt opened #617 "alea accumulators: how to write to and read from hdf5 file"
Dear all,

I am currently trying to write and read the new alea accumulators to and from a hdf5 file. I have tried to adopt the "simple_hdf5" tutorial to my purposes. However, so far I have not succeeded in compiling my code without error.
I have created a minimal example that illustrates my problem:

[code]

Any help would be highly appreciated

Stefan

[2019-06-12 03:16] galexv commented on #617
It is possible to save and load Alea results to/from an HDF5 archive. The code can be modified as follows:
[code]

The diff between the files:
[code]

Markus (@mwallerb), it looks like Alea accumulators are not [de]serializeable (without converting them to results) --- is it correct or am i missing something?

[2019-06-12 08:57] stewitt commented on #617
Thank you very much for the help.
It is quite essential for my code to create checkpoints of intermediate results that I can load again. The easiest way would be if the the Alea accumulators itself were (de-)serializeable.
If this is not the case, is there another easy workaround?

[2019-06-12 11:22] mwallerb commented on #617
@stewitt : @galexv is correct, this is not possible as of now, right now one can only store/load `result`s.  The original sin was that accumulators were designed as not intrinsically MPI-aware, so serializing them must be done manually.  Therefore I settled on the  `accumulate -> finalize -> reduce -> serialize` model.

I however agree that checkpointing is important and so one should be able to d

[2019-06-12 11:26] mwallerb commented on #617
Just remembered a workaround: you can add (partial) results to an accumulator.  This should allow you to checkpoint by converting to result and store. Then resuming can be done by loading the result and adding it to an empty accumulator.

[2019-06-12 15:59] stewitt commented on #617
@mwallerb thank you very much for the quick help.
I have implemented your workaround for my MC simulation. I tested it by comparing the results of two different runs. For the first run, I run my code from start to finish without any interruptions in between. For the second run, I saved a checkpoint halfway through and reloaded my parameters from my checkpoint and then ran the code to the end. Both

[2019-06-13 09:46] mwallerb commented on #617
@stewitt : I assume you are using `autocorr_acc`.  There are two potential problems here:

 1. `autocorr_acc` and `autocorr_result` are not an exact one-to-one mapping, because some partial results in the accumulator are absorbed in the result type, and
 2. adding `autocorr_result` to an `autocorr_acc` adds levels without considering the inter-level structure.

Now, for number `N` of simulation st

[2019-06-17 11:50] stewitt commented on #617
@mwallerb Yes, the difference of the two error estimates is rather small for large N. This should be good enough for my purposes.
As a side note, I also tried saving after k steps with k being a power of 2 and then load this checkpoint. Even then the error bars still differ slightly. However, this might be a problem with my code.

[2019-06-18 08:47] mwallerb commented on #617
OK, @stewitt , thanks for checking!  I have changed the bug report to a wishlist item for implementing direct (de-)serialize/  This would be a nice feature.

[2019-07-09 18:52] aeantipov commented on #551
Alex, how about this? (I did this for a specific 2.3.0 release, but it can be stored as a Dockerfile in the repo for the main branch

[code]

[2019-08-05 21:35] galexv opened #618 "[hdf5] Incorrect handling of files in read-write mode"
The following code produces a run-time error:
[code]
Notes:
(1) In current implementation, `"r"` and `"rw"` modes are equivalent (`"r"` is ignored).
(2) If the file did not exist when it was opened (e.g., on the first run of the program), the run is successful! Otherwise, this call fails throwing `alps::hdf5::path_not_found`.
(3) If any (or both) of these lines are uncommented, these calls are suc

[2019-12-10 21:31] galexv opened #619 "[building] Allow to use (a subset of) ALPSCore as a subproject"
I would like to use some ALPSCore functionality in another project, as decribed in #572.  For that, i create a subdirectory, download ALPSCore there, and try to include it into my CMake project using `add_subdirectory(ALPSCore)`. This does not work --- and I would like it to. :smile:

Closely related to #573.

[2020-06-29 05:13] sassan72 opened #620 "about run alps tutorial on super computer(cluster)"
Has anyone run a python script on a super computer so far with ALPS? if yes. could you please tell me how I can do it.

[2020-06-29 12:13] egull commented on #620
ALPS is being used on supercomputers and small computers. Please tell  more about your configuration

[2020-06-29 21:14] sassan72 commented on #620
Thanks Emanuel. the alpscore/2.2.0 has been installed on Compute Canada. I wrote this job to run one of ALPS example with the name of tutorial1a.py on compute Canada.
here is the job file:

#!/bin/bash
#SBATCH --account=def-rkrems
#SBATCH --time=00:20:00
#SBATCH --mem-per-cpu=1G
#SBATCH --cpus-per-task=2      # number of cores
#SBATCH --ntasks-per-node=1

module load python
module load alpscore

s

[2020-06-29 21:52] sassan72 commented on #620
by the way, compute Canada is a linux based supercomputer.

[2020-06-29 22:27] jpfleblanc commented on #620
Hi!

I have not attempted to use the python functionality of the alpscore module
on the compute canada easybuild stack.  The first problem you are
encountering is an issue of the python environment on the newer compute
canada systems.

In short, even if alpscore contains python bindings they might not be
accessible to python without some effort.  In order to install custom
python packages you need

[2020-06-29 22:28] jpfleblanc commented on #620
Also, which computecanada system are you on? Graham? Cedar?

[2020-06-29 23:43] sassan72 commented on #620
Thanks. Cedar.

[2020-06-29 23:47] sassan72 commented on #620
you mean this one?

#!/bin/bash
#SBATCH --account=def-rkrems
#SBATCH --time=00:20:00
#SBATCH --mem-per-cpu=4G
#SBATCH --cpus-per-task=8     # number of cores
#SBATCH --ntasks-per-node=2

module load python/2.7 # python 2.7 for ALPScore
module load alpscore/2.2.0
virtualenv --no-download $SLURM_TMPDIR/env
source $SLURM_TMPDIR/env/bin/activate
pip install numpy --no-index
pip install scipy --no-inde

[2020-06-29 23:49] sassan72 commented on #620
if it doesn't have Python binding how can I run ALPS tutorials?

[2020-06-30 00:35] iskakoff commented on #620
@sassan72 I am pretty sure that none of the recent developments in ALPSCore have python binding.
and also none of **ALPSCore** tutorials use python.

I think you mixed up it with **ALPS** that has python binding inside it.
The package ALPSCore-Python, that @jpfleblanc mentioned, has indeed python bindings for ALPSCore but it
seems abandoned since the last changes were made 3 years ago, while there

[2020-06-30 00:56] sassan72 commented on #620
the version of alps on compute Canada is 2.2.0. So what are suppose me to do in order to run ALPS tutorials on compute Canada?

[2020-06-30 00:58] egull commented on #620
ask over at http://alps.comp-phys.org/mediawiki/index.php/Main_Page . You are looking at the wrong package.

[2020-06-30 01:17] jpfleblanc commented on #620
you should download and install alps on your local machine. no sense running tutorials by submitting a job script - unless that tutorial is precisely what you are trying to do I'd suppose.

When you type: module avail alps
on cedar, it will show: alpscore/2.2.0 (phys,D)

This is indeed the code from this repo, but it is c++ only. As emanuel said, look at alps website.  Also  I would recommend you

[2020-06-30 01:38] sassan72 commented on #620
Thanks. actually, I have written a python code for the directed worm algorithm. I was just curious to check my result with ALPS to make sure about it. to be honest, I used compute Canada to run python scripts with virtual environment. Thanks for your helping.

[2020-09-10 11:51] abukva opened #622 "MPI scaling and running in parallel"
I have a question about the workings of MPI version of ALPSCore. Specifically I am using ising2 tutorial and parallel version of it and I am not sure what exactly running in parallel does. For example ( number here are just for the ease of writing) if I run serial version with thermalization of 500 sweeps and total sweeps of 3000, is that the same as running parallel version with thermalization of

[2020-09-21 20:11] anhph opened #623 "Problem with compiling on NERSC"
Hi,

I receive this error when compiling on NERSC Cori:

compilation aborted for ALPSCore/gf/test/fourier_test.cpp (code 2)
make[2]: *** [gf/test/CMakeFiles/fourier_test.dir/build.make:63: gf/test/CMakeFiles/fourier_test.dir/fourier_test.cpp.o] Error 2
make[1]: *** [CMakeFiles/Makefile2:5722: gf/test/CMakeFiles/fourier_test.dir/all] Error 2
make: *** [Makefile:141: all] Error 2

Any help would be

[2020-09-21 20:41] egull commented on #623
Hard to say what’s going on here. Could you please be more explicit and send us the full error message?

Your best way of getting information is likely

export VERBOSE=1

Followed by make.

Then tell us what actually fails, and with which compiler and which environment.

Best,
Emanuel

[2020-09-21 20:58] anhph commented on #623
Here is my make VERBOSE=1. This is where the error occurs

[ 81%] Building CXX object gf/test/CMakeFiles/fourier_test.dir/fourier_test.cpp.o
cd /global/homes/a/axp561/ALPSCore/build/gf/test && /opt/cray/pe/craype/2.6.2/bin/CC   -I/global/homes/a/axp561/ALPSCore/build/hdf5/include -I/global/homes/a/axp561/ALPSCore/hdf5/include -I/global/homes/a/axp561/ALPSCore/build/utilities/include -I/global/home

[2020-09-21 22:47] iskakoff commented on #623
what is your cmake flags and so on?
I've just rebuilt ALPSCore on Cori and everything went well. Here are the modules I have loaded:

[code]

There is one failed test, but this is known problem on intel compilers:
[code]

[2020-09-23 18:44] anhph commented on #623
Here are my modules

  1) modules/3.2.11.4
  2) altd/2.0
  3) darshan/3.1.7
  4) intel/19.0.3.199
  5) craype-network-aries
  6) craype/2.6.2
  7) cray-libsci/19.06.1
  8) udreg/2.3.2-7.0.1.1_3.36__g8175d3d.ari
  9) ugni/6.0.14.0-7.0.1.1_7.38__ge78e5b0.ari
 10) pmi/5.0.14
 11) dmapp/7.1.1-7.0.1.1_4.52__g38cf134.ari
 12) gni-headers/5.0.12.0-7.0.1.1_6.31__g3b1768f.ari
 13) xpmem/2.2.20-7.0.1.1_4.13

[2020-09-24 17:54] galexv commented on #623
Judging by the fact that compilation itself succeeds and only the MPI tests fail, it seems to be the same issue as #211 (feature request #296), addressed by (not yet merged) PR #613 .

I believe PR #613 does not affect the business logic (it changes only CMake scripts), so it could be safely merged.

@anhph You could try to apply that PR to your local repository and see if it works for you; the PR

[2020-09-24 19:17] iskakoff commented on #623
@anhph to run MPI tests on Cori you need to run interactive job, any attempt to call `MPI_Init` on login node will fail immediately
@galexv I think @anhph run whatever tests compiled but anhph still has at least `fourier_test` that fails to compile.
I will take more close look today or tomorrow on `fourier_test` whether I can reproduce it or not.

[2021-07-07 03:21] shinaoka opened #627 "HDF5 compatibility"
The online document says that ALPSCore support HDF5 1.8.x.
But, on my MacBook, ALPSCore did compile with 1.8.22_2. Please see the following errors.
When ALPSCore is built with HDF5 1.12.0, all tests passed.
Should we change the version requirement for HDF5?

[code]

[2021-07-07 20:48] egull commented on #627
Hi Hiroshi,

I think it’s probably best to just increase the requirement. 1.8 is rather old.

Emanuel

[2021-07-20 21:54] shinaoka commented on #627
To which version should we increase the requirement?

[2021-07-20 21:59] egull commented on #627
We could do a generic version bump to 1.10?

On Tue, Jul 20, 2021, 5:55 PM Hiroshi Shinaoka ***@***.***>
wrote:

[2021-07-20 22:22] jpfleblanc commented on #627
I could be imagining it but there was some bug in hdf5 1.10. I believe it
was resolved but am not sure.

On Tue., Jul. 20, 2021, 7:29 p.m. Emanuel Gull, ***@***.***>
wrote:

[2021-07-20 22:30] egull commented on #627
Any objections to 1.12 then?

On Tue, Jul 20, 2021, 6:22 PM James P.F. LeBlanc ***@***.***>
wrote:

[2021-07-21 00:40] wistaria commented on #627
For many Linux distributions, hdf5 1.10.x is still the standard. It seems premature to make 1.12 mandatory.
- https://rpmfind.net/linux/rpm2html/search.php?query=hdf5
- https://packages.ubuntu.com/search?keywords=hdf5&searchon=names
- https://packages.debian.org/search?searchon=names&keywords=hdf5